<head><p align="center" style="margin:5em;"><b><br></br>Lord Nicholls of Birkenhead Lord Mackay of<br></br>Clashfern Lord Hoffmann Lord Hope of Craighead Lord Millett<br></br>OPINIONSOFTHELORDSOFAPPEALFORJUDGMENTINTHECAUSE<br></br></b></p><p align="center" style="margin:5em;"><b>NEWSPAPER LICENSING AGENCY LIMITED<br></br>(ORIGINAL APPELLANTS AND<br></br>CROSS-RESPONDENTS)<br></br>v.<br></br>MARKS AND SPENCER PLC<br></br>(ORIGINAL RESPONDENTS AND<br></br>CROSS-APPELLANTS)ON<br></br></b></p><p align="center" style="margin:5em;"><b>12 JULY 2001<br></br></b></p><p align="center" style="margin:5em;"><b>[2001] UKHL 38</b></p><br></br>
<p align="justify" style="margin:5em;"><span style="background-color: #DDDDDD;">LORD NICHOLLS OF BIRKENHEAD </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the opportunity of reading in draft the speech of my noble and learned friend Lord Hoffmann. </span>
<span style="background-color: #01FF70;">For the reasons he gives, and with which I agree, I would dismiss this appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD MACKAY OF CLASHFERN </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the opportunity of reading in draft the speech of my noble and learned friend Lord Hoffmann. </span>
<span style="background-color: #01FF70;">For the reasons he gives, and with which I agree, I would dismiss this appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD HOFFMANN </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #FF4136;">Marks and Spencer subscribes to a press cutting service. </span>
<span style="background-color: #FF4136;">It has contracted with an agency called the Broadcast Monitoring Company for the daily supply of photocopies of items of interest appearing in national and daily newspapers. </span>
<span style="background-color: #FF4136;">The agency pays a fee for a licence to copy the cuttings to the Newspaper Licensing Agency Limited ("the NLA"), which deals with copyright licensing on behalf of the newspapers. </span>
<span style="background-color: #FF4136;">Marks and Spencer makes further copies of some of the cuttings and distributes them to individuals within its organisation. </span>
<span style="background-color: #FF4136;">It has no licence to make these further copies. </span>
<span style="background-color: #F012BE;">The question in this appeal is whether making such copies infringes the copyright in the typographical arrangement of the published editions of the newspapers which has been assigned by the publishers to NLA. </span>
<span style="background-color: #FF4136;">There are several copyrights which may simultaneously subsist in the contents of a newspaper. </span>
<span style="background-color: #7FDBFF;">Each of the articles is a literary work in which, if it is original, copyright may subsist under section 1(1)(a) of the Copyright, Designs and Patents Act 1988. </span>
<span style="background-color: #F012BE;">Similarly, the drawings and photographs are artistic works. </span>
<span style="background-color: #F012BE;">In addition, the publisher is entitled to a copyright in the typographical arrangement of the published edition: see sections 1(1)(c) and 9(1)(d). </span>
<span style="background-color: #F012BE;">In this appeal, we are concerned only with this last form of copyright. </span>
<span style="background-color: #F012BE;">The NLA makes no claim based upon literary or artistic copyright in the articles or photographs which have been copied. </span>
<span style="background-color: #F012BE;">Copyright in a typographical arrangement is of relatively recent origin, having been created by the Copyright Act 1956. </span>
<span style="background-color: #F012BE;">It can be traced to two developments in the publishing industry, one of them artistic and the other technological. </span>
<span style="background-color: #F012BE;">The first was the great improvement in typographical design which is associated with the arts and crafts movement in the last two decades of the nineteenth century and the first two of the twentieth. </span>
<span style="background-color: #F012BE;">A new font could be registered as a design but the typographic layout of a particular book, which may have taken considerable skill and effort, was not as such protected. </span>
<span style="background-color: #F012BE;">The second was the development since the First World War of the technique of photo-lithography, which enabled printing plates to be made by photographic means. </span>
<span style="background-color: #F012BE;">Publishers were concerned that the skill and labour which had gone into the typographical design of fine editions of classical works (out of literary or musical copyright) could be appropriated by other publishers who used photo-lithography to make facsimile copies. </span>
<span style="background-color: #FF4136;">In 1935 the Publishers' Association made representations to the Departmental Committee on International Copyright, asking them to recommend that a copyright in typography should be created by amendment to the Berne Convention. </span>
<span style="background-color: #FF4136;">The Committee recommended accordingly (see its Report of May 1935 (Board of Trade Misc Reports 1919-37) at paragraph 21) but nothing came of it. </span>
<span style="background-color: #FF4136;">After the Second World War the Publishers' Association renewed their representations to the Copyright Committee under the chairmanship of Sir Henry Gregory which had been appointed to consider the law of copyright. </span>
<span style="background-color: #FF4136;">Again the proposal was accepted. </span>
<span style="background-color: #FF4136;">The Committee recommended in the following terms (see their Report of October 1952 (Cmd 8662): </span>
<br></br>
<span style="background-color: #FF4136;">"306.  </span>
<br></br>
<span style="background-color: #FF4136;">The Publishers' Association have suggested that there should be a copyright in typography. </span>
<span style="background-color: #F012BE;">By this they did not mean that particular types designs or founts should be protected by the Copyright Act; new type designs are registrable under the Registered Designs Act and they were not asking for any change in that respect. </span>
<span style="background-color: #7FDBFF;">They were seeking protection for typographical arrangements so that a particular edition of a literary or musical work printed by or for a publisher could not be directly and exactly copied by an unscrupulous competitor by photo-lithography or similar means... </span>
<span style="background-color: #7FDBFF;">[I]n certain foreign countries the law of unfair competition prevented this kind of copying by competitors but no such remedy is available in this country. </span>
<br></br>
<span style="background-color: #7FDBFF;">"308.  </span>
<br></br>
<span style="background-color: #7FDBFF;">Although we have already indicated our view that the Copyright Act could not and should not be extended to cover all unfair competition in the nature of copying of industrial articles, we are impressed by the case made by the Publishers' Association and agree that typographical arrangements might reasonably be protected by the Act. </span>
<span style="background-color: #7FDBFF;">The protection which we recommend should relate only to exact copying by photo-lithographic or similar means...." </span>
<span style="background-color: #7FDBFF;">These recommendations were carried into effect by section 15 of the Copyright Act 1956, which has been replaced by substantially similar provisions in the 1988 Act: </span>
<span style="background-color: #7FDBFF;">"1(1) Copyright is a property right which subsists inaccordancewith this Part in the following descriptions of work- </span>
<br></br>
<span style="background-color: #7FDBFF;">(c) the typographical arrangement of published editions. </span>
<br></br>
<span style="background-color: #7FDBFF;">"8(1)  In this Part, 'published edition', in the context of copyright in the typographical arrangement of a published edition, means a published edition of the whole or any part of one or more literary, dramatic or musical works. </span>
<span style="background-color: #7FDBFF;">"9(1)  In this Part, 'author', in relation to a work, means the person who creates it. </span>
<br></br>
<span style="background-color: #7FDBFF;">(2) That person shall be taken to be- </span>
<br></br>
<span style="background-color: #7FDBFF;">(d) in the case of the typographical arrangement of a published edition, the publisher. </span>
<br></br>
<span style="background-color: #7FDBFF;">15  Copyright in the typographical arrangement of a published edition expires at the end of the period of 25 years from the end of the calendar year in which the edition was first published. </span>
<span style="background-color: #7FDBFF;">16(2)  Copyright in a work is infringed by a person who without the licence of the copyright owner does, or authorises another to do, any of the acts restricted by the copyright. </span>
<br></br>
<span style="background-color: #7FDBFF;">(3) References in this Part to the doing of an act restricted by the copyright in a work are to the doing of it- </span>
<br></br>
<span style="background-color: #7FDBFF;">(a) in relation to the work as a whole or any substantial part of it, and </span>
<br></br>
<span style="background-color: #7FDBFF;">(b) either directly or indirectly. </span>
<br></br>
<span style="background-color: #7FDBFF;">"17(1)  The copying of the work is an act restricted by the copyright in every description of copyright work; and references in this Part to copying and copies shall be construed as follows. </span>
<br></br>
<span style="background-color: #F012BE;">(5)Copying in relation to the typographical arrangement of a published edition means making a facsimile copy of the arrangement." </span>
<br></br>
<span style="background-color: #F012BE;">The cuttings supplied by the agency were facsimile copies of parts of the typographical arrangement of the newspapers. </span>
<span style="background-color: #F012BE;">By copying the cuttings, Marks and Spencer indirectly copied the same parts. </span>
<span style="background-color: #F012BE;">The question is whether they copied the whole or a substantial part of the typographical arrangement of the published edition. </span>
<span style="background-color: #F012BE;">This raises the question of what is meant by the "published". </span>
<span style="background-color: #F012BE;">Is it the whole newspaper or does each of the literary works comprised in the newspaper constitute a separate "published edition" of that work? </span>
<span style="background-color: #F012BE;">If the latter is the correct analysis, the photocopy is frequently a facsimile copy of the whole typographical arrangement of the work. </span>
<span style="background-color: #F012BE;">Not in all cases, because often the agency has to rearrange the text to fit onto the A4 sheets on which the cuttings are supplied. </span>
<span style="background-color: #F012BE;">In such cases, the original typographical arrangement is altered. </span>
<span style="background-color: #F012BE;">But in many cases there will be an infringement. </span>
<span style="background-color: #7FDBFF;">On the other hand, if the "published edition" is the whole newspaper and the copyright work the typographical arrangement of the whole, there arises the further question of whether the arrangement copied in any particular cutting is a substantial part. </span>
<span style="background-color: #FFDC00;">Lightman J, who tried the action, said at [1999] RPC 536, 542 that an edition meant a "version" of a literary work and that-- </span>
<span style="background-color: #FFDC00;">"In the case of a newspaper made up of a number of different articles, each separate article is in my view a literary work and the typographical arrangement of each separate article is accordingly a copyright work." </span>
<span style="background-color: #FFDC00;">"Accordingly" suggests a necessary congruence between the concept of a literary work and that of a published edition. </span>
<span style="background-color: #FFDC00;">Mr Hobbs QC, who appeared for NLA, supported this reasoning and said that copyright in typographical arrangement "mapped onto" the copyright in the underlying literary works. </span>
<span style="background-color: #FFDC00;">He drew an analogy with copyright in a sound recording, defined in section 5(1) as "a recording of the whole or any part of a literary, dramatic or musical work". </span>
<span style="background-color: #FFDC00;">The sound recording copyright was congruent with, for example, the musical copyright in the work which had been recorded. </span>
<span style="background-color: #FFDC00;">A CD might comprise recordings of performances of a number of different musical works, in each of which a separate musical copyright and sound recording copyright could subsist. </span>
<span style="background-color: #FFDC00;">Likewise, said Mr Hobbs, in the case of a newspaper containing the typographical arrangement of a number of literary works. </span>
<span style="background-color: #F012BE;">In my opinion the analogy is unsound. </span>
<span style="background-color: #F012BE;">There is an important difference between the ways in which the two copyrights are defined. </span>
<span style="background-color: #F012BE;">A "sound recording", in which copyright subsists under section 1(1)(b), is defined by section 5(1)(b) as "a recording of the whole or any part of a literary, dramatic or musical work". </span>
<span style="background-color: #F012BE;">Thus a sound recording of one musical work is by definition different from the recording of another, even if they are issued on the same CD. </span>
<span style="background-color: #F012BE;">But for copyright to subsist in a typographical arrangement, it must be the arrangement of a "published edition". </span>
<span style="background-color: #F012BE;">A "published edition", as we have seen, is defined by section 8 as "a published edition of the whole or any part of one or more literary dramatic or musical works". </span>
<span style="background-color: #F012BE;">The words "or more" show that one may have a single published edition of more than one literary work and that there is no necessary congruence between the concept of an edition and the underlying works. </span>
<span style="background-color: #F012BE;">The language seems to me so clear on this point that I do not think that the meaning is called into question, as Mr Hobbs suggested, by the fact that the fair dealing exceptions in Chapter III of the Act are framed in the same terms for typographical copyright as they are for literary copyright. </span>
<span style="background-color: #F012BE;">It seems to me that the legislature had the limited objective of ensuring that a fair dealing with the literary copyright did not fall foul of the typographical copyright. </span>
<span style="background-color: #F012BE;">Nothing more about the scope of typographical copyright can be inferred. </span>
<span style="background-color: #FFDC00;">The judge said that he found support for his view in the decision of Walton J. in Machinery Market Ltd v Sheen Publishing Limited [1983] FSR 431. </span>
<span style="background-color: #7FDBFF;">This was an unreserved judgment given on a motion for judgment under RSC, Ord 14. </span>
<span style="background-color: #7FDBFF;">It certainly proceeded upon an assumption that there may be a separate copyright in the typographical arrangement of an individual advertisement in a journal. </span>
<span style="background-color: #F012BE;">But the contrary does not appear to have been argued and the point was not discussed. </span>
<span style="background-color: #FFDC00;">Mr Hobbs acknowledged that it was not in the circumstances a very strong authority. </span>
<span style="background-color: #7FDBFF;">On the other hand, Lightman J does not appear to have been referred to the judgment of Wilcox J, sitting in the General Division of the Federal Court of Australia, in Nationwide News Pty Ltd v Copyright Agency Ltd (1995) 128 ALR 285, which reached the opposite conclusion. </span>
<span style="background-color: #FFDC00;">Lightman J did see the judgment of the Federal Court on appeal from Wilcox J (1996) 136 ALR 273, but the appellants seem to have found the latter's judgment on this point so persuasive that they did not challenge it on appeal, where the only question was whether the typographical arrangement of the copied articles amounted to a substantial part of the typographical arrangement of the newspaper as whole. </span>
<span style="background-color: #01FF70;">In my opinion there is no answer to the reasoning of Wilcox J. </span>
<span style="background-color: #F012BE;">The definition of a "published edition" shows that there is no necessary correlation between the concept of a literary, dramatic or musical work and the concept of a published edition. </span>
<span style="background-color: #F012BE;">In my opinion the frame of reference for the term "published edition" is the language of the publishing trade. </span>
<span style="background-color: #F012BE;">The edition is the product, generally between covers, which the publisher offers to the public. </span>
<span style="background-color: #F012BE;">There may be borderline cases in which two or more distinct products are offered simultaneously at a single price, such as a newspaper with typographically distinct supplements or "inserts". </span>
<span style="background-color: #F012BE;">The present appeal does not raise such a question and in any case, for reasons which I shall develop later, I doubt whether it will matter whether they are regarded as one or more published editions. </span>
<span style="background-color: #FFDC00;">All the members of the Court of Appeal [2001] Ch 257 appear to have agreed that the statutory definition of a "published edition" meant that copyright could subsist in the typographical arrangement of the newspaper as a whole. </span>
<span style="background-color: #FFDC00;">But Chadwick LJ (differing on this point from Peter Gibson and Mance LJJ) said that there was no reason why the same newspaper should not contain "published editions" of the individual literary works as well. </span>
<span style="background-color: #FFDC00;">If the literary work had been published separately, it would have been a published edition with its own typographical copyright. </span>
<span style="background-color: #F012BE;">Why should its typographical arrangement not be protected when it was published as less than a substantial part of a larger work? </span>
<span style="background-color: #F012BE;">I find the notion of a "published edition" of a literary work forming part of a larger publication very difficult to reconcile with the statutory language, which, as I have said, was intended to refer to what a publisher would understand by an edition. </span>
<span style="background-color: #F012BE;">One may have, for example, a new edition of the Oxford Book of English Verse. </span>
<span style="background-color: #F012BE;">The editor's work of compilation is itself a literary work, giving rise to its own copyright separate from the copyright (if any) which attaches to the individual poems. </span>
<span style="background-color: #F012BE;">The edition may be new because the editor has dropped some poems and added others (giving rise to a new literary copyright) or simply because it has been set in a new typographical arrangement, giving rise to a new typographical copyright. </span>
<span style="background-color: #F012BE;">But, in either case, I do not think that anyone would say that the Oxford University Press had published not only a new edition of the book but also a new "edition" of the Ode to a Nightingale. </span>
<span style="background-color: #F012BE;">It is also difficult to see why Parliament should have wished to create a number of simultaneous overlapping copyrights in the typographical arrangement of a composite work. </span>
<span style="background-color: #F012BE;">It is true, as I have said, that one may have separate literary copyright in individual works published as a compilation and a separate literary copyright in the compilation as a whole. </span>
<span style="background-color: #F012BE;">But such a scheme makes sense because the copyrights will arise at different times and may vest in different people who have contributed different kinds of work and skill. </span>
<span style="background-color: #F012BE;">But the overlapping copyrights envisaged by Chadwick LJ will all arise at the same time (when the edition is published) and vest in the same person (the publisher). </span>
<span style="background-color: #F012BE;">The reason why Chadwick LJ espoused his theory of overlapping copyrights appears to have been his view that one should not distinguish between a typographical arrangement which would have been protected if it had been a separate publication and one which was part of a composite edition. </span>
<span style="background-color: #F012BE;">It would be illogical if a typographical arrangement was denied protection because it was not a substantial part of the published edition when it would have attracted protection on its own. </span>
<span style="background-color: #F012BE;">I quite understand his concern that the law should not expose itself to a charge of inconsistency. </span>
<span style="background-color: #F012BE;">But I do not think that the answer lies in giving an unnatural meaning to the statutory term "published edition". </span>
<span style="background-color: #F012BE;">It must rather lie in a proper application of the term "substantial part". </span>
<span style="background-color: #F012BE;">I therefore turn to the question of whether the copies made by Marks and Spencer amounted to substantial parts of the newspaper editions from which they had been extracted. </span>
<span style="background-color: #7FDBFF;">The House of Lords decided in Ladbroke (Football) Ltd v William Hill (Football) Ltd [1964] 1 WLR 273 that the question of substantiality is a matter of quality rather than quantity. </span>
<span style="background-color: #7FDBFF;">The relevant passages are too well known to require citation: see Lord Reid at p 276, Lord Evershed at p 283, Lord Hodson at p 288 and Lord Pearce at p 293. </span>
<span style="background-color: #F012BE;">But what quality is one looking for? </span>
<span style="background-color: #F012BE;">That question, as it seems to me, must be answered by reference to the reason why the work is given copyright protection. </span>
<span style="background-color: #7FDBFF;">In literary copyright, for example, copyright is conferred (irrespective of literary merit) upon an original literary work. </span>
<span style="background-color: #F012BE;">It follows that the quality relevant for the purposes of substantiality is the literary originality of that which has been copied. </span>
<span style="background-color: #F012BE;">In the case of an artistic work, it is the artistic originality of that which has been copied. </span>
<span style="background-color: #F012BE;">So, in the recent case of Designers Guild Ltd v Russell Williams (Textiles) Ltd [2000] 1 WLR 2416, the House decided that although not the smallest part of a fabric design had been reproduced with anything approaching photographic fidelity, the copying of certain of the ideas expressed in that design which, in their conjoined expression, had involved original artistic skill and labour, constituted the copying of a substantial part of the artistic work. </span>
<span style="background-color: #F012BE;">In my opinion the question of substantiality in relation to typographical copyright must be decided according to the same principles. </span>
<span style="background-color: #F012BE;">There is, however, an important difference in the definition of copying typographical arrangements which has to be taken into account. </span>
<span style="background-color: #F012BE;">In relation to a literary, dramatic, musical or artistic work, copying means "reproducing the work in any material form": section 17(2). </span>
<span style="background-color: #F012BE;">In relation to the typographical arrangement of an edition, it means "making a facsimile copy of the arrangement": section 17(5). </span>
<span style="background-color: #F012BE;">The notion of reproduction, as demonstrated by the Designers Guild case, is sufficiently flexible to include the copying of ideas abstracted from a literary, dramatic, musical or artistic work, provided that their expression in the original work has involved sufficient of the relevant original skill and labour to attract copyright protection. </span>
<span style="background-color: #F012BE;">In the case of a typographical arrangement, however, nothing less than a facsimile copy will do. </span>
<span style="background-color: #F012BE;">It is in this context that one must ask whether there has been copying of sufficient of the relevant skill and labour to constitute a substantial part of the edition's typographical arrangement. </span>
<span style="background-color: #F012BE;">For this purpose it is necessary to form a view about the nature of the skill and labour involved in a typographical arrangement. </span>
<span style="background-color: #F012BE;">Ideally this should perhaps have been a matter of expert evidence, such as was called to explain the relevant artistic skill in the Designers Guild case and such as there was in the Nationwide News case: see 136 ALR 273, 291. </span>
<span style="background-color: #F012BE;">It is however a matter of common knowledge that typographical arrangement at the time of the 1956 Act involved skill in designing the pages and labour and capital in setting up the type and keeping it standing. </span>
<span style="background-color: #F012BE;">This was what the Publishers' Association said that they wanted to protect for the statutory period of 25 years. </span>
<span style="background-color: #F012BE;">Having regard to this objective, I should think it highly unlikely that anyone in 1956 thought that newspaper publishers would be the beneficiaries of the new copyright. </span>
<span style="background-color: #F012BE;">The Gregory Committee had in mind an edition of Jane Austen or Beethoven which could be dribbled out by the publisher, perhaps reprinting from time to time, over a long period. </span>
<span style="background-color: #F012BE;">The purpose of the copyright was to protect the publisher against competition from pirate photo-lithographic copies of his own edition. </span>
<span style="background-color: #F012BE;">But no one would want to sell photo-lithographic copies of a rival's newspaper. </span>
<span style="background-color: #F012BE;">Nevertheless, copyright is a right to prevent copying and not merely to restrain unfair competition. </span>
<span style="background-color: #F012BE;">It sometimes affords protection in unexpected situations. </span>
<span style="background-color: #F012BE;">In British Leyland Motor Corporation Ltd v Armstrong Patents Co Ltd [1986] AC 577 certain provisions in the Copyright Act 1956 as amended which were inserted to protect the designs of Birmingham jewellers were held to create a copyright in the design of the exhaust pipe of a motor car. </span>
<span style="background-color: #F012BE;">If, as a matter of construction, the work is protected, then (subjectto any special defences) the copyright owner is entitled to enforce it. </span>
<span style="background-color: #F012BE;">But I think that the purpose of the copyright is something which can be taken into account in deciding the kind of skill and labour which will attract protection. </span>
<span style="background-color: #F012BE;">In the case of a modern newspaper, I think that the skill and labour devoted to typographical arrangement is principally expressed in the overall design. </span>
<span style="background-color: #F012BE;">It is not the choice of a particular typeface, the precise number or width of the columns, the breadth of margins and the relationship of headlines and strap lines to the other text, the number of articles on a page and the distribution of photographs and advertisements but the combination of all of these into pages which give the newspaper as a whole its distinctive appearance. </span>
<span style="background-color: #F012BE;">In some cases that appearance will depend upon the relationship between the pages; for example, having headlines rather than small advertisements on the front page. </span>
<span style="background-color: #F012BE;">Usually, however, it will depend upon the appearance of any given page. </span>
<span style="background-color: #F012BE;">But I find it difficult to think of the skill and labour which has gone into the typographical arrangement of a newspaper being expressed in anything less than a full page. </span>
<span style="background-color: #F012BE;">The particular fonts, columns, margins and so forth are only, so to speak, the typographical vocabulary in which the arrangement is expressed. </span>
<span style="background-color: #F012BE;">I would therefore agree with the general approach of the Federal Court of Australia in the appeal from the decision of Wilcox J in Nationwide News Pty Ltd v Copyright Agency Ltd 136 ALR 273, where the question of substantiality is discussed in greater depth than in the court below. </span>
<span style="background-color: #7FDBFF;">Sackville J said, at p 291: </span>
<span style="background-color: #7FDBFF;">"In relation to a published edition, the quality of what is taken must be assessed by reference to the interest protected by the copyright. </span>
<span style="background-color: #7FDBFF;">That interest...is in protecting the presentation and layout of the edition. . . " </span>
<span style="background-color: #7FDBFF;">In the Court of Appeal in this case, Peter Gibson LJ, at p 267G recorded a common submission by Mr Silverleaf QC and Mr Garnett QC (then appearing for Marks and Spencer and the NLA respectively) that the test of substantiality was quantitative rather than qualitative because copyright in a typographical arrangement is "not dependent on originality". </span>
<span style="background-color: #7FDBFF;">I am not sure that this is right. </span>
<span style="background-color: #F012BE;">The test is quantitative in the sense that, as there can be infringement only by making a facsimile copy, the question will always be whether one has made a facsimile copy of enough of the published edition to amount to a substantial part. </span>
<span style="background-color: #F012BE;">But the question of what counts as enough seems to me to be qualitative, depending not upon the proportion which the part taken bears to the whole but on whether the copy can be said to have appropriated the presentation and lay out of the edition. </span>
<span style="background-color: #F012BE;">That is why I said earlier that I do not think it is likely to matter whether the supplements or inserts in a newspaper are separate published editions. </span>
<span style="background-color: #F012BE;">I think that this approach avoids the paradox which Chadwick LJ had in mind, namely that a given typographical arrangement might be protected if published alone but not amount to a substantial part of a published edition of a larger work into which it was incorporated. </span>
<span style="background-color: #F012BE;">The answer is a "published edition" which consists of a single article on an otherwise blank sheet has a strikingly different typographical arrangement from a "published edition" which consists of a newspaper (or even a page of a newspaper) including the same article in the same type but juxtaposed with other articles on the page. </span>
<span style="background-color: #F012BE;">The presence of other material on the page and the spatial relationship of the articles to each other are important parts of its typographical arrangement. </span>
<span style="background-color: #01FF70;">So I see no paradox in the proposition that a facsimile copy of the single sheet is a copy of the whole of its typographical arrangement but a copy of the article on the page, which gives no indication of how the rest of the page is laid out, is not a copy of a substantial part of the published edition constituted by the newspaper. </span>
<br></br>
<span style="background-color: #DDDDDD;">27.  </span>
<br></br>
<span style="background-color: #F012BE;">Your Lordships have been shown specimens of the press cuttings of which complaint has been made. </span>
<span style="background-color: #01FF70;">I agree with the majority of the Court of Appeal that none of them sufficiently reproduces the lay out of any page to amount to a substantial part of its typographical arrangement. </span>
<span style="background-color: #01FF70;">In many cases, as I have mentioned, the changes in lay out which have been made to fit the article to an A4 sheet mean that they do not even reproduce the layout of the article itself. </span>
<span style="background-color: #FFDC00;">As Mance LJ said, at p 288C, Marks and Spencer had not "reproduced anything that could be regarded as either resembling the newspaper concerned or having newspaper-like qualities". </span>
<span style="background-color: #01FF70;">For these reasons, I would dismiss the appeal. </span>
<span style="background-color: #01FF70;">Marks and Spencer also claimed that they came within the defence of fair dealing but as your Lordships were all of opinion that there had been no infringement, no argument on the point was heard and I say nothing about it. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD HOPE OF CRAIGHEAD </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #01FF70;">I have had the advantage of reading in draft the speech which has </span>
<br></br>
<span style="background-color: #DDDDDD;">been prepared by my noble and learned friend Lord Hoffmann. </span>
<span style="background-color: #01FF70;">I agree with it, and for the reasons which he has given I too would dismiss the appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD MILLETT </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the advantage of reading in draft the speech of my noble and learned friend, Lord Hoffmann. </span>
<span style="background-color: #01FF70;">I agree with it, and for the reasons he gives I too would dismiss the appeal. </span></p></head>