<head><p align="center" style="margin:5em;"><b><br></br>Lord Slynn of Hadley Lord Goff of Chieveley Lord<br></br>Jauncey of Tullichettle Lord Nicholls of Birkenhead<br></br>OPINIONSOFTHELORDSOFAPPEALFORJUDGMENTINTHECAUSEKUWAITAIRWAYSCORPORATION(APPELLANTS)v.IRAQIAIRWAYSCOMPANY(BODYCORPORATE)&OTHERS(RESPONDENTS)Judgment:27July2000Reasons:8February2001</b></p><br></br>
<p align="justify" style="margin:5em;">LORD SLYNN OF HADLEY 
<br></br>
My Lords, 
<br></br>
The Kuwait Airways Corporation ("KAC") issued proceedings against Iraq Airways Company ("IAC") and the Republic of Iraq ("Iraq") claiming that on 2 August 1990 Iraq invaded Kuwait, took control of the airport and deprived KAC of the possession and control of 10 aircraft, the insurance value of which was US $630 million. 
Thereafter between 2 and 9 August 1990 the aircraft were removed from Kuwait Airport and between 9 August and 17 September Iraq transferred possession and control of them to IAC with the intention that they should be used for commercial purposes as part of IAC's fleet. 
Resolution 369 of the Revolutionary Command Council of Iraq of 9 September 1990 purported to dissolve KAC and to transfer all its assets to IAC with effect from 17 September 1990. 
IAC and Iraq have refused to deliver up the aircraft to KAC and have, it is alleged, unlawfully interfered with them. 
KAC claimed an order for delivery up and damages. 
KAC entered judgment against IAC for US$489 m in default of notice of intention to defend. 
IAC applied to set aside that judgment and sought an order that the writ was not validly served on IAC, that the claim was not justiciable in the courts of England and Wales and that the High Court of Justice had no jurisdiction over IAC inrespectof KAC's claim. 
Iraq applied to set aside service of the writ and to defend the action out of time. 
Evans J by order of 3 July 1992 dismissed IAC's application which was pursued before the Court of Appeal. 
Evans J further held that the writ had not been validly served on Iraq and judgment entered against Iraq on 24 May 1991 was set aside. 
By order of 3 November 1993 the Court of Appeal allowed IAC's appeal and declared that the court did not have jurisdiction inrespectof KAC's claim against IAC on the grounds of state immunity. 
On Iraq's appeal it was held that leave granted to KAC on 11 January 1992 to issue concurrent writs on Iraq out of the jurisdiction be set aside and that service after 3 July 1992 be also set aside. 
The action against both IAC and Iraq was dismissed. 
A number of consequential orders were made. 
On appeal your Lordships held on 24 July 1995 that KAC's appeal in relation to Iraq be dismissed and that the order of the Court of Appeal be affirmed. 
The writ had not been validly served. 
Your Lordships declared, however, that the writ had been validly served on IAC but that the appeal by KAC on the issue of state immunity be allowed to the extent indicated in the speech of my noble and learned friend Lord Goff of Chieveley [1999] 1WLR 1147. 
A fuller background to the case is set out at pp 1150-1151 of that speech to which I refer. 
The House held unanimously that the seizure of the aircraft and their transfer to IAC between 2 and 9 August were acts done in the exercise of sovereign authority. 
Your Lordships further held by a majority that the position after Resolution 369 came into effect on 17 September 1990 was different inrespectof the retention and use of the aircraft after that date. 
Sovereign authority could not be claimed inrespectof acts alleged to have been done by IAC after Resolution 369 came into effect transferring KAC's property to IAC. 
The House referred to the commercial court the question whether inrespectof allegations not covered by state immunity the alleged acts by IAC complained of by KAC were justiciable in the English courts or whether the courts would decline to deal with them as a matter of judicial restraint as explained by Lord Wilberforce in Buttes Gas & Oil Co v Hammer [1982] AC 888. 
By judgment dated 29 July 1998 Mance J held that acts done by IAC to the 10 aircraft and identified in his judgment-insuring, registration, repainting and use of airbus 9K AHD, acts of repainting 5 aircraft flown to Iran, the registration of other aircraft-amounted to wrongful interference with the aircraft by IAC since neither Resolution 369 nor any Presidential or other direction to implement it was capable of recognition by an English court. 
Questions of causation, remoteness and quantum of damage were left over to a subsequent trial and Aikens J adjudicated on these in a judgment given on 5 April 2000. 
He concluded that KAC had failed to establish the necessary causation. 
There were appeals against both judgments but before the Court of Appeal gave its judgment, KAC petitioned your Lordships on 17 May 2000 for an order that the order of the House of 24 July 1995 be varied so as to declare that "so far as it relates to [IAC], the appeal on the issue of state immunity be allowed to the extent that it concerns alleged acts of wrongful interference of [IAC] both in the period from 9 August 1990 to 16 September 1990 and thereafter". 
The purpose of the petition is thus to deprive IAC of the benefit of the ruling that acts done between 9 August by which time nine of the aircraft had been flown to Basra in Iraq and 17 September 1990 when Resolution 369 came into force ("the period") were covered by the principle of state immunity. 
Lord Goff's conclusion as to this period is based on the findings of fact by Evans J which depended largely on oral evidence given by the Director General of IAC, Mr Nor Aldin Saffi. 
Lord Goff said at p 1161 F-H: 
"Thereafter IAC, on the directions of the minister, looked after the aircraft by carrying out basic maintenance on them, until after the coming into effect of RCC Resolution 369 when IAC treated the aircraft as part of its fleet and made what use of them it could in the prevailing circumstances. 
In particular, IAC used at least one of the aircraft for internal flights, and repainted at least two of the aircraft in the IAC livery. 
These matters throw light (inter alia) on the nature of the interference with the aircraft alleged by KAC in the points of claim. 
Of these events, the basic maintenance carried out after the aircraft had been removed from Kuwait Airport seems to be of little or no significance. 
The essential things done which constitute the gravamen of the proceedings against I.A.C. are (1) the removal of the aircraft from Kuwait Airport to Iraq, and (2) the treatment of the aircraft by I.A.C. as part of its fleet after the coming into force of R.C.C. Resolution 369." 
Lord Goff further said at p.1164 A-B: 
"There remains the question (which may well be of no relevance) whether the acts performed by IAC in looking after the aircraft between the date of their arrival in Iraq and the coming into effect of RCC Resolution 369, involving no more than basic maintenance of the aircraft, constituted acts done by IAC in the exercise of sovereign immunity. 
On the assumption that these acts constitute acts of conversion and as such are of relevance in these proceedings, I would hold that, like the acts of IAC and in flying the aircraft out of Kuwait, these acts were still sufficiently related to the act of seizure of the aircraft by Iraq to amount to acta jure imperii and so would attract immunity under section 14 (2)." 
KAC says that this finding was not only wrong but based on false and perjured evidence given with the intention of deceiving the court. 
It relies on documentary evidence produced at the trial before Aikens J which it contends shows that IAC treated KAC's aircraft as part of its fleet during the period. 
Three of the aircraft are alleged to have been removed to Baghdad towards the end of August 1990 for repainting in the livery of IAC and were in fact repainted by early September with a view to being used in IAC's commercial operations. 
The evidence relied on by KAC as being perjured both in Mr Saffi's affidavit of 31 October 1991 and in his oral evidence was to the effect that in the period IAC did no more than limited maintenance (visual inspection, cleaning, keeping up the tyre pressures) and that the aircraft were not repainted prior to 17 September 1990. 
In paragraph 5 of Mr Saffi's second affidavit of 31 October 1991 he said: 
"Upon arrival at the Iraqi airports of final destination, the IAC air crews parked the aircraft and simply left them at the stands to which they had been directed by the Air Force controllers... 
Thereafter, until after RCC Resolution 369 . . . came into effect, IAC ground crews had nothing to do with the aircraft; indeed no one from IAC was involved in any activity concerning the [KAC] aircraft." 
This was done inaccordancewith government instructions and Mr Saffi said that he had no communications before 9 September 1990 from the Minister of Transport as to whether IAC should take the KAC aircraft. 
16. 
KAC says that this was shown to be false by diaries kept by Mr Nuaman Al N'Ama, the Engineering Manager of IAC which were only produced after the trial began before Aikens J. 
They showed first that on 22 August 1990 Mr Saffi gave instructions for the aircraft to be repainted in IAC's livery and for them to be prepared as soon as possible for use on the Baghdad-Kuwait route, and secondly that these instructions were carried out, in particular as to the repainting of the aircraft. 
Aikens J found that the diary was "generally speaking, a reliable document whose authenticity has not been challenged". 
Further in the trial before Aikens J, Mr Nekash, an IAC witness, confirmed that instructions to repaint had been given and two of the airbuses had been repainted before 30 August and one on 2 September. 
Other evidence before Aikens J, it is said, confirmed that the aircraft had been transferred to IAC in anticipation of Resolution 369 and with the settled intention as to the commercial operation of the KAC aircraft. 
Aikens J accepted, inter alia, that KAC aircraft were moved to Baghdad before 17 September for repainting (paragraph 94) and that work began on repainting airbus AHI on or about 1 September (paragraph 112 (1)). 
KAC contends that all the false evidence was adduced to give the impression that what was being done was not the activity of a commercial airline but was (a) of little significance and (b) supported the contention that IAC was immune to the jurisdiction of the courts. 
The falsity of the evidence was not known until the trial before Aikens J which began in October 1999. 
The House is accordingly asked to accept that the aircraft were transferred to IAC shortly after 9 August and were treated as part of IAC's fleet with the intention that IAC should use them commercially beginning with the use of the Baghdad-Kuwait route by 1 September 1990. 
The acts done were not limited to basic maintenance. 
Accordingly the holding that the acts were part of the act of seizure and so attracted the principle of state immunity should be reversed. 
KAC's submits that the House has an inherent jurisdiction to vary its order: what is sought is not a review of the legal relevant principles but a review of their application on the basis of perjured evidence. 
IAC denies that any of the witnesses were fraudulent but it accepts that "certain of the factual details set out in Mr Na'ana's diary were not previously referred to" but that the only "new fact" revealed in the trial before Aiken J was that some repainting did take place before 17 September 1990 but this was not a proper repainting and was not a critical fact. 
All the other facts it is said were known to KAC before the trial of the first issue before Mance J. 
It is said that at the time of Mr Saffi's evidence "the Minister's instruction to Mr Saffi in late August 1990" that the Iraqi Government wished some of the KAC aircraft to be put to use was overlooked and that, in consequence, Mr Saffi in his evidence in 1991/92 did not refer to the limited acts done by IAC on behalf of the Government in consequence of that instruction i.e. some over-painting, an inquiry as to the registration of the aircraft and steps taken by IAC to insure two of the aircraft on behalf of the Iraqi Government. 
On the material produced to the House it seems to me that the issues raised by KAC are prima facie relevant, serious and substantial. 
They cannot be brushed aside as being, even if KAC's claims are right, insignificant to the final assessment as to whether IAC was entitled to claim immunity for acts done during the period. 
Whether in the end KAC is right it seems to me that if it wishes to raise these matters KAC should be able to do so. 
The question, however, is whether these issues should be raised in a petition before the House. 
Your Lordships decided that they should not and so notified the parties at the end of the oral arguments. 
I arrived at that decision for two reasons. 
In the first place there is well established authority that where a final decision has been made by a court a challenge to the decision on the basis that it has been obtained by fraud must be made by a fresh action alleging and proving the fraud. 
Thus in Flower v Lloyd (1877) 6 Ch D 297 the Court of Appeal had allowed an appeal and dismissed a claim to restrain the defendants from infringing the plaintiff's patent. 
The plaintiff applied to have the appeal reheard on the ground that there had been fraudulent concealment of evidence. 
The Court of Appeal held that this could not be done. 
The plaintiff's remedy was by original action. 
The judgment was given partly on the basis that the Court of Appeal's jurisdiction under the Judicature Act 1873 did not include power to set aside its judgment on the basis of fraud, and partly on the basis that the former practice of requiring a fresh action to be brought to set aside a decree on the ground of fraud ought to be followed. 
In Cole v Langford [1898] 2 QB 36 the Divisional Court held that the court had jurisdiction in a subsequent action to set aside a judgment obtained before a judge and jury by fraud. 
In Jonesco v Beard [1930] AC 298 Lord Buckmaster, with whom other Members of the House concurred, said, at p 300: 
"It has long been the settled practice of the court that the proper method of impeaching a completed judgment on the ground of fraud is by action in which, as in any other action based on fraud, the particulars of the fraud must be exactly given and the allegation established by the strict proof such a charge requires." 
He added, at p 301, that "there is jurisdiction in special cases to set aside a judgment for fraud on a motion for a new trial" but the standard of proof must be the same as in a fresh action. 
Similarly in De Lasala v De Lasala [1980] AC 546, 561 the Privy Council in a judgment delivered by Lord Diplock held: 
"Where a party to an action seeks to challenge, on the ground that it was obtained by fraud or mistake, a judgment or order that finally disposes of the issues raised between the parties, the only ways of doing it that are open to him are by appeal from the judgment or order to a higher court or by bringing a fresh action to set it aside." 
The second reason is that even if there was a discretion to review the previous decision of the House this would not be a suitable or convenient case in which to do so. 
The facts are complex. 
It would be necessary to investigate the evidence both written and oral provided in 1991 and 1992 and the new evidence which it is said was obtained later. 
It would also involve a question as to whether KAC knew of what it now says is the actual position at a much earlier stage than the trial before Aikens J. 
and whether it has waived any right to object to it. 
It may well be that there will be agreement as to some of the facts alleged but the question whether fraud is established will require a detailed and perhaps lengthy examination. 
It is not in my view appropriate for five of your Lordships to undertake such an inquiry nor would it be convenient for the House to refer the matter to one member or three members for an investigation and report. 
It seems to me that the most convenient and appropriate course is for KAC, if it chooses to raise these matters, to do so in a separate action. 
For these reasons the petition is refused. 
<br></br>
LORD GOFF OF CHIEVELEY 
<br></br>
My Lords, 
<br></br>
I have had the opportunity of reading in draft the opinion of my noble and learned friend Lord Slynn of Hadley. 
For the reasons he gives, I too agree that the petition should be refused. 
<br></br>
LORD JAUNCEY OF TULLICHETTLE 
<br></br>
My Lords, 
<br></br>
I have had the advantage of reading in draft the speech of my noble and learned friend Lord Slynn of Hadley. 
For the reasons he gives, I too agreed that the petition should be refused. 
<br></br>
LORD NICHOLLS OF BIRKENHEAD 
<br></br>
My Lords, 
<br></br>
I have had the advantage of reading in draft the speech of my noble and learned friend Lord Slynn of Hadley. 
For the reasons he gives, I too agreed that the petition should be refused. </p></head>