<head><p align="center" style="margin:5em;"><b><br></br>Lord Bingham of Cornhill<br></br>Lord Steyn<br></br>Lord Hoffmann<br></br>Lord Millett<br></br>Lord Scott of Foscote<br></br>HOUSEOFLORDSOPINIONSOFTHELORDSOFAPPEALFORJUDGMENTINTHECAUSEReginav.SecretaryofStatefortheHomeDepartmentandanother(Respondents)exparteAnufrijeva(FC)(Appellant)<br></br></b></p><p align="center" style="margin:5em;"><b>Regina<br></br>v.<br></br>Secretary of State for the Home Department and<br></br>another (Respondents) ex parte Anufrijeva (FC) (Appellant)ONTHURSDAY<br></br></b></p><p align="center" style="margin:5em;"><b>26 JUNE 2003TheAppellateCommitteecomprised:<br></br></b></p><p align="center" style="margin:5em;"><b>[2003] UKHL 36onappealfrom:<br></br></b></p><p align="center" style="margin:5em;"><b>[2003] UKHL 36</b></p><br></br>
<p align="justify" style="margin:5em;"><span style="background-color: #DDDDDD;">LORD BINGHAM OF CORNHILL </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #F012BE;">The issue in this appeal is whether income support should have been paid to Nadezda Anufrijeva (the appellant) as an asylum seeker between 10 December 1999 and 25 April 2000. </span>
<span style="background-color: #F012BE;">The answer depends on whether, on or before the earlier of those dates, she had ceased to be an asylum seeker. </span>
<span style="background-color: #F012BE;">That in turn depends on whether, on or before the earlier of the dates, her claim for asylum had been "recorded by the Secretary of State as having been determined (other than on appeal)" within the meaning of regulation 70(3A)(b)(i) of the Income Support (General) Regulations 1987 (SI 1987/1967) ("the Regulations"). </span>
<span style="background-color: #FF4136;">On 31 August 1998 the appellant, then aged 20, arrived at Gatwick Airport with her father and several other members of her family. </span>
<span style="background-color: #FF4136;">They were Lithuanians of Russian origin and had flown to this country from Lithuania. </span>
<span style="background-color: #FF4136;">Her father claimed asylum for himself and other dependent members of the family. </span>
<span style="background-color: #FF4136;">The appellant claimed asylum on her own behalf. </span>
<span style="background-color: #FF4136;">It seems clear (and it has not been questioned) that her claim for asylum was duly recorded by the Secretary of State as having been made. </span>
<span style="background-color: #FF4136;">On 4 September 1998 the appellant claimed payment of income support. </span>
<span style="background-color: #7FDBFF;">This is an income-related benefit governed by Part VII of the Social Security Contributions and Benefits Act 1992. </span>
<span style="background-color: #7FDBFF;">The amount payable to a "person from abroad" as defined in regulation 21(3) of the Regulations is ordinarily nil, entitling such person to no payment. </span>
<span style="background-color: #7FDBFF;">But Part VI of the Regulations made special provision for some urgent cases, in which there was an entitlement to payment of 90% of the amount normally payable to those entitled. </span>
<span style="background-color: #7FDBFF;">The class of urgent case relevant for present purposes is persons from abroad who were asylum seekers for purposes of paragraph (3A) of regulation 70 of the Regulations. </span>
<span style="background-color: #7FDBFF;">That paragraph provided (so far as relevant): </span>
<span style="background-color: #7FDBFF;">"For the purposes of this paragraph, a person - </span>
<br></br>
<span style="background-color: #7FDBFF;">(a) is an asylum seeker when he submits on his arrival (other than on his re-entry) in the United Kingdom from a country outside the Common Travel Area a claim for asylum to the Secretary of State that it would be contrary to the United Kingdom's obligations under the [1951 Geneva Convention and the 1967 Protocol relating to the Status of Refugees] for him to be removed from, or required to leave, the United Kingdom and that claim is recorded by the Secretary of State as having been made." </span>
<br></br>
<span style="background-color: #FF4136;">The appellant was accepted as falling within that description. </span>
<span style="background-color: #FF4136;">Income support at the applicable rate (90% of the normal rate) was accordingly paid to her with effect from 4 September 1998. </span>
<span style="background-color: #FF4136;">It continued to be paid for some 14 months until, with effect from 9 December 1999, payment was stopped. </span>
<span style="background-color: #FF4136;">At some time after her arrival in the United Kingdom the appellant was interviewed by an immigration officer concerning the merits of her asylum claim. </span>
<span style="background-color: #7FDBFF;">Decisions on asylum, however, unlike decisions on leave to enter, are taken not by immigration officers but by the Secretary of State. </span>
<span style="background-color: #7FDBFF;">This long-standing rule is now found in rule 328 of the Statement of Changes in Immigration Rules (HC 395) ("the Rules") laid before Parliament inaccordancewith section 3(2) of the Immigration Act 1971 as a statement of "the practice to be followed" in the administration of the Immigration Acts. </span>
<span style="background-color: #7FDBFF;">Rule 328 provides: </span>
<span style="background-color: #7FDBFF;">"All asylum applications will be determined by the Secretary of State inaccordancewith the United Kingdom's obligations under the United Nations Convention and Protocol relating to the Status of Refugees. </span>
<span style="background-color: #7FDBFF;">Every asylum application made by a person at a port or airport in the United Kingdom will be referred by the Immigration Officer for determination by the Secretary of State inaccordancewith these Rules." </span>
<span style="background-color: #FF4136;">The immigration officer's record of the interview with the appellant has not been produced in these proceedings, but it was produced to and considered by an adjudicator who heard appeals by the appellant and her father in December 2000-January 2001 (Appeal nos CC/17722/00 and CC 15675/00, March 2000, paragraph 75) and it seems clear that the record was sent to the officials responsible for making asylum decisions on behalf of the Home Secretary to enable them to make that decision. </span>
<span style="background-color: #FF4136;">On 20 November 1999 the responsible official in the Integrated Casework Directorate of the Home Office made a note to the following effect in the file relating to the appellant's asylum claim: </span>
<span style="background-color: #FF4136;">"This woman has cited numerous mishaps throughout the 1990s and puts her woes down to an encounter her father had with a drunken solicitor in 1991. </span>
<span style="background-color: #FF4136;">There is no credibility in any of this and no Convention reason anyway. </span>
<span style="background-color: #FF4136;">For the reasons given in the letter aside, this applicant has failed to establish a well founded fear of persecution. </span>
<span style="background-color: #FF4136;">Refusal is appropriate. </span>
<span style="background-color: #FF4136;">Case hereby recorded as determined. </span>
<span style="background-color: #FF4136;">Certified under 5(4)(a)." </span>
<span style="background-color: #FF4136;">The terms of this note, and the certification of the appellant's asylum claim under paragraph 5(4)(a) of Schedule 2 to the Asylum and Immigration Appeals Act 1993 as not showing a fear of persecution for a Convention reason, make plain that in the opinion of the Home Office the claim was hopeless. </span>
<span style="background-color: #FF4136;">This was not the view later taken by the adjudicator who, although rejecting the asylum claim, believed the appellant's account, recommended that the Home Secretary consider granting her exceptional leave to remain and declined to uphold the certificate under paragraph 5(4)(a). </span>
<span style="background-color: #FF4136;">But the Home Office did not regard the appellant's claim as in any way borderline, as is evident from the terms of the "letter aside": this was a draft letter setting out the Home Secretary's reasons for refusing the asylum claim which was dated 20 November 1999, the same date as the file note, but was not at that stage sent to the appellant or her solicitors. </span>
<span style="background-color: #FF4136;">Upon the making of the file note just described, the Home Office considered (whether rightly or wrongly, which is the issue in this appeal) that the appellant was no longer an asylum seeker and so no longer entitled to payment of income support. </span>
<span style="background-color: #F012BE;">As already shown, the appellant's entitlement to income support depended on her being an asylum seeker within the definition in paragraph (3A) of regulation 70 of the Regulations. </span>
<span style="background-color: #7FDBFF;">But that paragraph also provided: </span>
<span style="background-color: #7FDBFF;">"For the purposes of this paragraph, a person - </span>
<br></br>
<span style="background-color: #7FDBFF;">"(b) ceases to be an asylum seeker - </span>
<br></br>
<span style="background-color: #7FDBFF;">(i) in the case of a claim for asylum which, on or after 5th February 1996, is recorded by the Secretary of State as having been determined (other than on appeal) or abandoned, on the date on which it is so recorded." </span>
<br></br>
<span style="background-color: #FF4136;">The Home Office treated the appellant as ceasing to be an asylum seeker on 20 November 1999 and communicated its decision to the Benefits Agency, responsible for paying income support to the appellant, some days later. </span>
<span style="background-color: #FF4136;">That agency ceased to pay income support to the appellant with effect from 9 December 1999 and on the same day wrote to her asking for the return of her income support order book and directing her to cash no further orders. </span>
<span style="background-color: #FF4136;">A week earlier the London Borough of Southwark had written to the solicitors acting for the appellant and her father referring to refusal of "the family's" asylum application and indicating that there was no longer an entitlement to housing assistance. </span>
<span style="background-color: #FF4136;">The appellant's solicitors gathered from the Benefits Agency and the local authority that her (and her father's) asylum claims had been refused, and on 23 December 1999 the Benefits Agency confirmed that it had been told by the Home Office that her asylum claim had been refused on 20 November and that payments of income support had been stopped with effect from 9 December. </span>
<span style="background-color: #FF4136;">It is, however, a very regrettable feature of this case that the appellant was not informed directly that her asylum claim had been refused or when, was given neither reasons for the refusal nor any promise that reasons would be given at a later date, and was not told that her income support payments were to be stopped or why or when. </span>
<span style="background-color: #FF4136;">Upon the Home Secretary's determination (or purported determination) of the appellant's asylum claim, responsibility for resolving her immigration status returned to the immigration officer at Gatwick. </span>
<span style="background-color: #F012BE;">Had the Home Secretary decided to grant asylum and had the appellant not yet received leave to enter, the immigration officer would have granted limited leave to enter pursuant to rule 330 of the Rules. </span>
<span style="background-color: #7FDBFF;">But rule 331 provides: </span>
<span style="background-color: #7FDBFF;">"If a person seeking leave to enter is refused asylum, the Immigration Officer will then resume his examination to determine whether or not to grant him leave to enter under any other provision of these Rules. </span>
<span style="background-color: #7FDBFF;">If the person fails at any time to comply with a requirement to report to an Immigration Officer for examination, the Immigration Officer may direct that the person's examination shall be treated as concluded at that time. </span>
<span style="background-color: #7FDBFF;">The Immigration Officer will then consider any outstanding applications for entry on the basis of any evidence before him." </span>
<span style="background-color: #FF4136;">In order to discharge the duty under this rule, the immigration officer at Gatwick wrote to the appellant on 28 November 1999, inviting her to attend for interview there on 11 January 2000. </span>
<span style="background-color: #F012BE;">At this interview, had it taken place, it is likely that the appellant would have been refused leave to enter and would have been handed the letter of 20 November 1999 setting out the Home Secretary's reasons for refusing asylum. </span>
<span style="background-color: #7FDBFF;">Rule 333 of the Rules prescribed the procedure to be followed: </span>
<span style="background-color: #7FDBFF;">"A person who is refused leave to enter following the refusal of an asylum application will be provided with a notice informing him of the decision and of the reasons for refusal. </span>
<span style="background-color: #7FDBFF;">The notice of refusal will also explain any rights of appeal available to the applicant and will inform him of the means by which he may exercise those rights . . . The applicant will not be removed from the United Kingdom so long as any appeal which he may bring or pursue in the United Kingdom is pending." </span>
<span style="background-color: #FF4136;">At the applicant's request the interview arranged for 11 January 2000 was deferred to 7 March 2000, but the appellant (unable, as she claimed, to afford the train fare) did not attend. </span>
<span style="background-color: #FF4136;">Nor, for the same reason, did she attend a further interview arranged for 17 April. </span>
<span style="background-color: #FF4136;">That led the immigration officer to give her a written notice of refusal of leave to enter. </span>
<span style="background-color: #FF4136;">The notice was dated 18 April 2000 but was sent to her on 25 April. </span>
<span style="background-color: #FF4136;">At the same time he sent to the appellant the letter of 20 November setting out the Home Secretary's reasons for refusing asylum. </span>
<span style="background-color: #FF4136;">Copies of these documents were sent to her solicitors on the same date. </span>
<span style="background-color: #FFDC00;">It is common ground that the appellant would not on any showing have been entitled to income support after 25 April 2000, unless an appeal against the refusal of asylum had succeeded, in which case regulation 21ZA of the Regulations would have entitled her to retrospective payment. </span>
<span style="background-color: #FF4136;">The appellant unsuccessfully challenged the refusal of her asylum claim before an adjudicator, was refused permission by the Immigration Appeal Tribunal to appeal against that decision and applied unsuccessfully for judicial review of that refusal: [2002] EWHC Admin 383. </span>
<span style="background-color: #FF4136;">She was also refused permission to apply for judicial review of the Home Secretary's refusal of leave to enter: [2002] EWHC Admin 600. </span>
<span style="background-color: #FFDC00;">In the present proceedings she sought judicial review of two decisions: the Home Secretary's decision to treat her asylum claim as having been refused on 20 November 1999; and the Secretary of State for Social Security's decision to withdraw her income support benefit on 9 December 1999. </span>
<span style="background-color: #FFDC00;">Her application was heard by Sir Christopher Bellamy QC sitting as a deputy judge: in a detailed and careful reserved judgment given on 25 October 2001 he dismissed the application, recognising considerable force in the submissions made on her behalf but holding himself bound to reject it by the Court of Appeal's decision in R v Secretary of State for the Home Department, Ex p Salem [1999] QB 805. </span>
<span style="background-color: #FFDC00;">In a judgment of the court delivered by Schiemann LJ, the Court of Appeal (Schiemann, Hale and Sedley LJJ) also held itself bound by Salem to dismiss the appeal but saw force in her arguments and gave her permission to appeal to the House: [2002] EWCA Civ 399. </span>
<span style="background-color: #FFDC00;">In opening the appeal, Mr Drabble QC for the appellant submitted, first, that it was not open to the Home Secretary to record a claim as determined on a date earlier than that on which it had in fact been determined. </span>
<span style="background-color: #F012BE;">This is plainly so. </span>
<span style="background-color: #7FDBFF;">Regulation 70(3A)(b)(i) provides that a person ceases to be an asylum seeker on (relevantly) the date on which it is recorded by the Secretary of State that his claim for asylum has been determined otherwise than on appeal. </span>
<span style="background-color: #F012BE;">An event cannot be "recorded" for purposes of the sub-paragraph unless it has taken place. </span>
<span style="background-color: #F012BE;">Thus on 20 November 1999 the responsible official could validly record the appellant's asylum claim as determined only if it had been determined. </span>
<span style="background-color: #F012BE;">The plain intention of the provision was that income support should be payable to a qualifying asylum seeker so long as the Home Secretary's determination of the claim was pending but not once he had determined the claim and his determination had been recorded. </span>
<span style="background-color: #FFDC00;">Mr Drabble's second main submission was based on rule 348 of the Rules which at the material time provided: </span>
<span style="background-color: #7FDBFF;">"Special provisions governing appeals in asylum cases are set out in the Asylum and Immigration Appeals Act 1993, the Asylum and Immigration Act 1996 and the Asylum Appeals (Procedure) Rules 1996. </span>
<span style="background-color: #7FDBFF;">Where asylum is refused the applicant will be provided with a notice informing him of the decision and of the reasons for refusal. </span>
<span style="background-color: #7FDBFF;">At the same time that asylum is refused the applicant may be notified of removal directions, or served with a notice of the Secretary of State's intention to deport him, as appropriate. </span>
<span style="background-color: #7FDBFF;">The notice of refusal of asylum will also explain any rights of appeal available to the applicant and will inform him of the means by which he may exercise those rights." </span>
<span style="background-color: #FFDC00;">This rule, it was argued, must be read with regulation 70(3A)(b)(i). </span>
<span style="background-color: #FFDC00;">It governs the steps to be taken when asylum is refused, requiring provision of a notice informing the applicant of the refusal and the reasons for it, and also the giving of information about the applicant's right of appeal. </span>
<span style="background-color: #FFDC00;">The rule is quite inconsistent with an uncommunicated refusal of asylum, recorded only in a departmental file. </span>
<span style="background-color: #FFDC00;">Not until the steps required by the rule have been accomplished has an asylum application been refused or determined adversely to the applicant. </span>
<span style="background-color: #FFDC00;">Thus the Home Secretary could not, on 20 November 1999, validly record an adverse determination which had yet to be made. </span>
<span style="background-color: #01FF70;">There are, in my opinion, a number of reasons why this argument cannot be accepted. </span>
<span style="background-color: #F012BE;">First, the language of regulation 70(3A)(b)(i) is not in any way ambiguous. </span>
<span style="background-color: #F012BE;">It defines a date by reference to the recording by the Secretary of State of the claim for asylum as having been determined. </span>
<span style="background-color: #F012BE;">It makes no reference to notification of the claimant. </span>
<br></br>
<span style="background-color: #F012BE;">The reference to "recorded" is, as Hobhouse LJ pointed out in Salem [1999] QB 805, 812, </span>
<br></br>
<span style="background-color: #7FDBFF;">"a formal criterion which must be applied by looking at the records kept by the Secretary of State. </span>
<span style="background-color: #7FDBFF;">It is used in contrast and contradistinction to any concept of notification." </span>
<span style="background-color: #7FDBFF;">Although the Court of Appeal was divided on the outcome in Salem, there was no disagreement on this point. </span>
<span style="background-color: #F012BE;">Secondly, the absence of reference to notification in regulation 70(3A)(b)(i) cannot be treated as inadvertent, since in regulation 21ZA of the Regulations, inserted by amendment later in the same year as paragraph (3A), express reference was made in paragraphs (1) and (3) to notification of the asylum claimant that he had been recorded as a refugee. </span>
<br></br>
<span style="background-color: #7FDBFF;">In section 6 of the Asylum and Immigration Appeals Act 1993 (since repealed but re-enacted) it was similarly provided that </span>
<br></br>
<span style="background-color: #7FDBFF;">"During the period beginning when a person makes a claim for asylum and ending when the Secretary of State gives him notice of the decision on the claim, he may not be removed from, or required to leave, the United Kingdom." </span>
<span style="background-color: #F012BE;">Parliamentary draftsmen have no difficulty in distinguishing between the making of a determination or decision and giving notice of it to the party affected. </span>
<span style="background-color: #F012BE;">Thirdly, there are compelling practical reasons why regulation 70(3A)(b)(i) should not have provided for notification. </span>
<span style="background-color: #7FDBFF;">As already noted in paragraph 7 above, the Home Secretary's decision on asylum is the first stage in a two-stage process in which, under rules 330 and 331, the second stage is performed by the immigration officer. </span>
<span style="background-color: #F012BE;">Where the Home Secretary's decision is to grant asylum, the immigration officer's role may be something of a formality. </span>
<span style="background-color: #F012BE;">But where the Home Secretary's decision is to refuse asylum, the immigration officer must nonetheless consider whether leave to enter should be given. </span>
<span style="background-color: #F012BE;">Thus the Home Secretary's decision on asylum, even if favourable, does not finally resolve the applicant's immigration status, and if it is adverse it gives rise of itself to no ground of appeal, since under section 8 of the 1993 Act (since repealed but re-enacted) an appeal lay only against the refusal of leave to enter and not against the refusal of asylum as such. </span>
<span style="background-color: #F012BE;">Rule 348 is directed to the last formal stage of the immigration officer's involvement, as evidenced by the references to removal directions and notice of intention to deport. </span>
<span style="background-color: #F012BE;">The Home Secretary's decision on asylum must necessarily have come earlier. </span>
<span style="background-color: #F012BE;">A further ground for rejecting Mr Drabble's second submission is found in consideration of the perceived mischief at which regulation 70(3A)(b)(i) was directed. </span>
<span style="background-color: #F012BE;">The provisions contained in the Social Security (Persons from Abroad) Miscellaneous Amendments Regulations 1996 (SI 1996/30) were the subject of a statement made by the Secretary of State to the Social Security Advisory Committee inaccordancewith section 174(2) of the Social Security Administration Act 1992. </span>
<span style="background-color: #F012BE;">In this he recorded that in recent years the number of asylum applications made in the United Kingdom had increased very sharply, both absolutely and proportionately in relation to other countries. </span>
<span style="background-color: #F012BE;">Well over 90% of those claiming were found not to be genuine refugees. </span>
<span style="background-color: #F012BE;">Most of these were economic migrants, attracted to this country by the ready availability in this country of benefits which were relatively generous, in comparison both with wages in the applicants' countries of origin and with benefits available in some other European countries. </span>
<span style="background-color: #F012BE;">The availability of such benefits during the process of appeal following initial rejection of an asylum claim provided a further inducement, since a high proportion of unsuccessful applicants appealed, although only 4% of appeals succeeded. </span>
<span style="background-color: #F012BE;">The number of applicants and appellants made for further delay and, inevitably, greater cost to the taxpayer. </span>
<span style="background-color: #F012BE;">The proposed solution (paragraph 57 of the statement) was to withdraw benefits from "asylum seekers who have been found by the immigration authorities not to be refugees" and also from those claiming asylum otherwise than on arrival in the country. </span>
<br></br>
<span style="background-color: #7FDBFF;">In R v Secretary of State for Social Security, Ex p Joint Council for the Welfare of Immigrants [1997] 1 WLR 275 the Court of Appeal, by a majority (Neill LJ dissenting), held the 1996 Regulations to be ultra vires on the ground (per Simon Brown LJ, page 293) that </span>
<br></br>
<span style="background-color: #7FDBFF;">"Parliament cannot have intended a significant number of genuine asylum seekers to be impaled on the horns of so intolerable a dilemma: the need either to abandon their claims to refugee status or alternatively to maintain them as best they can but in a state of utter destitution." </span>
<span style="background-color: #7FDBFF;">Parliament's response was to enact section 11 of the Asylum and Immigration Act 1996, which provided in subsection (1): </span>
<span style="background-color: #7FDBFF;">"Notwithstanding any enactment or rule of law, regulations may exclude any person who has made a claim for asylum from entitlement to any of the following benefits, namely - </span>
<br></br>
<span style="background-color: #7FDBFF;">(a) income support . . ." </span>
<br></br>
<span style="background-color: #7FDBFF;">Regulation 70(3A)(b)(i) applied to asylum applicants whose claims were granted by the Home Secretary as well as those whose claims were refused, but the latter were expected to be far more numerous. </span>
<span style="background-color: #7FDBFF;">(In an earlier explanatory memorandum submitted to the Advisory Committee reference had been made, in paragraph 12, to "ending the benefit entitlement of all asylum applicants at the point where they receive a negative decision from the Home Office" and, in paragraph 17, to removing entitlement "at the point where the initial decision is made by the immigration authorities that the applicant is not a refugee and should not be granted exceptional leave to remain". </span>
<span style="background-color: #F012BE;">This language was not, however, repeated in the Secretary of State's later statement and is not to be found in the Regulations as amended in 1996). </span>
<span style="background-color: #01FF70;">To read regulation 70(3A)(b)(i) as intended to deny income support to an unsuccessful asylum applicant from the day that the Home Secretary's decision to refuse asylum was recorded, no matter how long it might thereafter take the immigration officer finally to resolve the applicant's immigration status, is not to defeat but to give effect to what I regard as a clear legislative intention. </span>
<span style="background-color: #F012BE;">It is not of course for the House, sitting judicially, to express any view on the merits of this legislation. </span>
<span style="background-color: #FFDC00;">Mr Drabble pointed out that although a very small percentage of those claiming asylum were found to be refugees, a much larger number were granted exceptional leave to remain. </span>
<span style="background-color: #FFDC00;">Mr Drabble's second major submission was that the statutory scheme imposed a public law duty on the Home Secretary to notify the appellant of the asylum decision, that a decision only recorded in an uncommunicated file note could not be other than provisional, since it could be altered at any time before notification was given to the appellant, and that accordingly there was no determination for purposes of regulation 70(3A)(b)(i) until 25 April 2000. </span>
<span style="background-color: #F012BE;">This submission drew on the revulsion naturally felt for an official decision, taken privately, recorded in an undisclosed file and not communicated to the person to whom the decision relates. </span>
This somewhat Kafkaesque procedure was to some extent mitigated in this case by the fact that the appellant and her solicitors learned of the decision, although indirectly, relatively soon after it was made, that she would have received formal notice of the refusal with reasons two months earlier than she did if she had not cancelled the meeting fixed for 11 January 2000 and that her right of appeal would not have arisen until she had been refused leave to enter even if notice of the asylum decision had been given earlier. 
<span style="background-color: #F012BE;">This is, however, an unhappy feature of the case and it is reassuring to learn that the practice has been changed. </span>
<span style="background-color: #F012BE;">I would readily accept that the Home Secretary was subjectto a public law duty to notify the appellant of his decision on her asylum application and, if it was adverse, his reasons for refusing it. </span>
<span style="background-color: #F012BE;">Such an obligation is expressed explicitly in rule 348 of the Rules and would in any event be implied. </span>
<span style="background-color: #F012BE;">But there is inevitably, in a written procedure, some gap between the making and notifying of a decision. </span>
<span style="background-color: #F012BE;">Rule 348 prescribes no time limit. </span>
<span style="background-color: #F012BE;">Any implied duty would be to give notice within a reasonable time. </span>
<span style="background-color: #01FF70;">Failure to give notice within a reasonable time would be a breach of the Home Secretary's public law duty but would not necessarily nullify or invalidate his decision. </span>
<span style="background-color: #F012BE;">In any event, it was not argued that notice of the Home Secretary's reasons was not given within a reasonable time. </span>
<span style="background-color: #FFDC00;">Sir Christopher Bellamy QC cited Racke v Hauptzollamt Mainz (Case 98/78) [1979] ECR 69, para 15, for this proposition: </span>
<span style="background-color: #7FDBFF;">"A fundamental principle in the Community legal order requires that a measure adopted by the public authorities shall not be applicable to those concerned before they have the opportunity to make themselves acquainted with it." </span>
<span style="background-color: #FFDC00;">Reference was also made to Opel Austria GmbH v Council of the European Union (Case T-115/94) [1997] ECR II 39, para 124. </span>
<span style="background-color: #F012BE;">Both these cases, however, concerned Community regulations, and even so it was recognised that there could exceptionally be departures from the principle (see Racke, para 20). </span>
<span style="background-color: #F012BE;">I do not think this principle can be readily applied in a domestic context to an official decision which, although undoubtedly affecting the rights of the individual, calls for no compliance by that individual and exposes him or her to no penalty. </span>
<span style="background-color: #01FF70;">No domestic authority was cited to support such a rule, which would in any event be overridden by what I have found to be a clear legislative intention that payment of income support should stop on the day the Home Secretary's decision is recorded, irrespective of notification to the claimant. </span>
<span style="background-color: #F012BE;">I would accept that, to be a determination within the meaning of regulation 70(3A)(b)(i), a decision must have a sufficient quality of finality about it. </span>
<span style="background-color: #F012BE;">There is no room for what Hobhouse LJ in Salem [1999] QB 805, 823, called "the undeterminative determination". </span>
<span style="background-color: #7FDBFF;">In that case, however, all members of the court agreed (per Brooke LJ, page 824) </span>
<span style="background-color: #FFDC00;">"that as a matter of statutory construction, the asylum seeker's right to income support in a favoured category of 'persons from abroad' stops immediately on the date the Secretary of State records his determination of the claim." </span>
<span style="background-color: #7FDBFF;">The issue which divided the court was whether the Home Secretary had made a determination in May 1997, when an internal record of refusal was made. </span>
<span style="background-color: #7FDBFF;">Hobhouse LJ, dissenting, held that there had been no determination at that date because later correspondence was wholly inconsistent with the Home Secretary having already made a determination. </span>
<span style="background-color: #7FDBFF;">The majority (Brooke LJ and Sir John Balcombe) held that the Home Secretary had made a determination in May when he was recorded as having done so, even though he continued to be willing to receive representations bearing on the applicant's claim for asylum. </span>
<span style="background-color: #F012BE;">It is unnecessary to resolve that difference of opinion, which turned very largely on how the exchanges between the parties were properly to be understood. </span>
<span style="background-color: #F012BE;">The facts here permit no such difference of opinion. </span>
<span style="background-color: #FF4136;">As pointed out in paragraph 5 above, the Home Office regarded this (wrongly, as the adjudicator held) as a very clear case. </span>
<span style="background-color: #FF4136;">Relatively prompt steps were taken to stop the payment of benefit and the provision of housing assistance and to instruct the immigration officer to resume the examination. </span>
<span style="background-color: #FF4136;">Only with reluctance did the immigration officer agree to postpone the meeting arranged for 11 January 2000. </span>
<span style="background-color: #F012BE;">At no stage did the Home Secretary or his officials invite or indicate willingness to consider further submissions on the appellant's asylum claim, and nothing suggests that they had second thoughts about the correctness of its rejection. </span>
<span style="background-color: #01FF70;">I cannot accept that a decision or determination must necessarily be regarded as provisional and lacking the quality of finality necessary for recognition as a decision or determination because it is open to the decision-maker to alter it. </span>
<span style="background-color: #DDDDDD;">I take one example. </span>
<span style="background-color: #7FDBFF;">Section 47(2) of the Supreme Court Act 1981 provides that: </span>
<span style="background-color: #7FDBFF;">"a sentence imposed, or other order made, by the Crown Court when dealing with an offender may be varied or rescinded by the Crown Court within the period of twenty-eight days beginning with the day on which the sentence or other order was imposed or made . </span>
<span style="background-color: #7FDBFF;">. ." </span>
<span style="background-color: #F012BE;">The existence of that power could not, in my opinion, be said to render provisional any sentence passed or order made, or to deny recognition of such sentence or order as a decision or determination. </span>
<span style="background-color: #F012BE;">In that context, of course, the sentence or order would ordinarily be communicated to the defendant, but it has already been shown that notification or communication of a decision in this context is not, in law, a necessary condition of its recognition as having been made. </span>
<span style="background-color: #F012BE;">In my respectful opinion the legal principles stated by all three members of the court in Salem [1999] QB 805 were correct, and I would endorse them. </span>
<span style="background-color: #01FF70;">Applied to this case, for the reasons I have given, they compel the conclusion that this appeal should be dismissed. </span>
<span style="background-color: #DDDDDD;">I am naturally concerned that my noble and learned friends have formed a different opinion. </span>
<span style="background-color: #F012BE;">I would not for my part question the principle of legality, let alone the importance of maintaining the rule of law. </span>
<span style="background-color: #F012BE;">It is however a cardinal principle of the rule of law, not inconsistent with the principle of legality, that subjectto exceptions not material in this case effect should be given to a clear and unambiguous legislative provision. </span>
<span style="background-color: #F012BE;">There is nothing in any way unclear or ambiguous about the words "recorded by the Secretary of State as having been determined ....., on the date on which it is so recorded". </span>
<span style="background-color: #F012BE;">They define the moment when a person ceases to be an asylum seeker and so disentitled to income support. </span>
<span style="background-color: #01FF70;">The words do not say and cannot be fairly understood to mean "recorded by the Secretary of State as having been determined .... on the date on which it is so recorded and notice given to the applicant". </span>
<span style="background-color: #F012BE;">To contrast this provision with other provisions in which express reference is made to notification is not to rely on niceties of statutory language but to undertake a conventional exercise of construction, seeking to give effect to the meaning of the Regulations. </span>
<span style="background-color: #F012BE;">If, as I think, the meaning of regulation 70(3A)(b)(i) is plain, it cannot be overridden by the terms of HC 395, which do not have legislative force and which in any event provide that refusal of asylum by the Home Secretary will be followed by the immigration officer's decision on leave to enter, at which stage (not before) notice of the refusal of asylum and the reasons for it will be given. </span>
<span style="background-color: #F012BE;">It is only then that the applicant's right of appeal for the first time arises. </span>
<span style="background-color: #F012BE;">While I share the distaste of my noble and learned friends for the procedure followed in this case, that distaste should not lead the House to give regulation 70(3A)(b)(i) anything other than its clear and obvious meaning. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD STEYN </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #F012BE;">The question is how regulation 70(3A)(b)(i) of the Income Support (General) Regulations 1987 should be interpreted. </span>
<span style="background-color: #F012BE;">The question is whether Parliament intended to authorise the withdrawing of income support by an internal note on a departmental file with legal effect from a date before notification of the decision. </span>
<span style="background-color: #F012BE;">At first glance it may appear to be a rather technical issue. </span>
<span style="background-color: #F012BE;">But the decision by the House may have a more general bearing on the development of our public law. </span>
<span style="background-color: #DDDDDD;">The background is as follows. </span>
<span style="background-color: #FF4136;">On 31 August 1998 the appellant applied for asylum. </span>
<span style="background-color: #FF4136;">On 4 September 1998 she claimed income support benefits, which were paid with effect from that date. </span>
<span style="background-color: #7FDBFF;">Regulation 70(3A) of the Income Support (General) Regulations 1987 provides for the payment of income support at the rate applicable for urgent cases (90% of the normal rate) to persons who are asylum seekers within the meaning of the same regulation. </span>
<span style="background-color: #7FDBFF;">Regulation 70(3A)(b)(i) provides that a person ceases to be an asylum seeker (and thus loses the right to income support): </span>
<span style="background-color: #7FDBFF;">". . . in the case of a claim for asylum which, on or after 5th February 1996, is recorded by the Secretary of State as having been determined (other than on appeal) or abandoned, on the date on which it is so recorded..." </span>
<span style="background-color: #FF4136;">On 20 November 1999 a Mr Stuart Beaton signed an internal file note. </span>
<span style="background-color: #FF4136;">It read: </span>
<span style="background-color: #FF4136;">"This woman has cited numerous mishaps throughout the 1990s and puts her woes down to an encounter her father had with a drunken solicitor in 1991. </span>
<span style="background-color: #FF4136;">There is no credibility in any of this and no Convention reason anyway. </span>
<span style="background-color: #FF4136;">For the reasons given in the letter aside, this application has failed to establish a well founded fear of persecution. </span>
<span style="background-color: #FF4136;">Refusal is appropriate. </span>
<span style="background-color: #FF4136;">Case hereby recorded as determined." </span>
<span style="background-color: #FF4136;">On 30 November 1999 the content of this file note was communicated to the Benefits Agency. </span>
<span style="background-color: #FF4136;">It was not communicated to the appellant and the "letter aside" of 20 November 1999 containing the Home Secretary's reasons for refusal of asylum was not sent to the appellant. </span>
<span style="background-color: #FF4136;">By letter of 28 November 1999 the appellant was asked to attend an interview on 11 January 2000. </span>
<span style="background-color: #FF4136;">On 9 December and 15 December 1999 the Benefits Agency asked for the return of the appellant's income support book. </span>
<span style="background-color: #FF4136;">The appellant's income support was stopped without explanation with effect from 9 December 1999. </span>
<span style="background-color: #FF4136;">On 17 December 1999 the solicitors now acting for the appellant asked the Home Office for a postponement of the interview fixed for 11 January 2000. </span>
<span style="background-color: #FF4136;">On 23 December 1999 the Benefits Agency advised the appellant's solicitors that it had been informed by the Home Office that the appellant's claim for asylum had been refused on 20 November 1999. </span>
<span style="background-color: #FF4136;">For this reason the Benefits Agency had stopped the income support payments with effect from 9 December 1999. </span>
<span style="background-color: #FFDC00;">On 24 December 1999 the appellant's solicitors lodged an appeal with the Benefits Agency against the withdrawal of the appellant's income support. </span>
<span style="background-color: #FF4136;">A further interview was arranged by the Home Office for 7 March 2000, which was subsequently refixed for 17 April 2000. </span>
<span style="background-color: #FF4136;">The appellant was unable to comply because she was unable to obtain funds for the train fare. </span>
<span style="background-color: #FF4136;">Under cover of a letter dated 25 April 2000 the decision rejecting the appellant's application for asylum and refusing her leave to enter was sent to her. </span>
<span style="background-color: #FF4136;">The notice of refusal of leave to the appellant to enter the United Kingdom was signed by an immigration officer on 18 April 2000 and sent to the appellant. </span>
<span style="background-color: #FF4136;">The notice of 18 April 2000 was accompanied by the reasons for refusal letter dated 20 November 1999. </span>
<span style="background-color: #FFDC00;">The hearing at first instance before Sir Christopher Bellamy - to whose judgment I wish to pay tribute - took place under the shadow of the decision of the Court of Appeal in R v Secretary of the State for the Home Department, Ex p Salem [1999] QB 805. </span>
<span style="background-color: #7FDBFF;">In Salem the Court of Appeal (Hobhouse, Brooke LJJ and Sir John Balcombe) held that for the purposes of regulation 70(3A)(b)(i) a person ceased to be entitled to income support from the date when his claim for asylum was recorded as determined on an internal file note in the Asylum Directorate in the Home Department, even though he had not yet been informed of the determination. </span>
<span style="background-color: #7FDBFF;">The House granted leave to appeal the decision in Salem. </span>
<span style="background-color: #7FDBFF;">In the event, the matter did not proceed as Mr Salem was granted refugee status: see [1999] 1 AC 450. </span>
<span style="background-color: #FFDC00;">Reluctantly, Sir Christopher felt compelled to dismiss the appellant's application for judicial review. </span>
<span style="background-color: #FFDC00;">The Court of Appeal also regarded itself as bound by Salem. </span>
<span style="background-color: #FFDC00;">Having so decided the Court of Appeal had to dismiss the appeal of the present appellant. </span>
<span style="background-color: #FFDC00;">But the Court of Appeal voiced its concerns about the policy of the Secretary of State and the decision in Salem in clear terms. </span>
<span style="background-color: #FFDC00;">Schiemann LJ (with the agreement of Hale and Sedley LLJ) trenchantly observed about the factual matrix ([2002] EWCA Civ 399, para 29): </span>
<span style="background-color: #FFDC00;">"We have also been told by leading counsel for the Home Secretary, Mr John Howell QC, that the delay of over four months between the preparation and the dispatch of the letter explaining why asylum has been refused was not accidental: it was a consistent practice. </span>
<span style="background-color: #FFDC00;">But for it, the present issue of law would have no significance. </span>
<span style="background-color: #FFDC00;">Mr Howell was wholly unable to explain it, let alone justify it. </span>
<span style="background-color: #FFDC00;">He was able to do no more than read us part of an affidavit which had been sworn in Salem which asserted that the implications of cost and effort if interim notifications were sent out were too great. </span>
<span style="background-color: #FFDC00;">When one bears in mind first that the asylum-seeker's ability to contest the refusal of asylum is entirely dependent on receipt of the Home Secretary's reasons for refusal, and secondly that the letter containing full reasons is already on file and that sooner or later the Home Office will have to put it in an envelope and post it, even the flimsy explanation we were given falls away. </span>
<span style="background-color: #FFDC00;">Since Mr Howell was able to tell us that the practice is now to send out a prompt notification (though he could not tell us whether it included reasons, and Mr Gill's instructions suggested that it did not), one is left wondering what the real reason was. </span>
<span style="background-color: #FFDC00;">Ms Anufrijeva's inability, her benefit having been stopped, to find &#163;17 to travel to Gatwick for her 'reasons for refusal' interview gives little to be proud of." </span>
<span style="background-color: #FFDC00;">In oral argument before the House counsel stated that the Secretary of State did not condone delay in notification of a decision on asylum. </span>
<span style="background-color: #F012BE;">These were weasel words. </span>
<span style="background-color: #F012BE;">There was no unintended lapse. </span>
<span style="background-color: #F012BE;">The practice of not notifying asylum seekers of the fact of withdrawal of income support was consistently and deliberately adopted. </span>
<span style="background-color: #F012BE;">There simply is no rational explanation for such a policy. </span>
<span style="background-color: #F012BE;">Having abandoned this practice the Secretary of State still seeks to justify it as lawful. </span>
<span style="background-color: #F012BE;">It provides a peep into contemporary standards of public administration. </span>
<span style="background-color: #F012BE;">Transparency is not its hallmark. </span>
<span style="background-color: #F012BE;">It is not an encouraging picture. </span>
<span style="background-color: #FFDC00;">The Court of Appeal observed about the interpretation of the regulation (para 30): </span>
<span style="background-color: #FFDC00;">". . . once an asylum seeker knows that her application has been refused, and that she is not to be given leave to enter the country on any other basis, and has the reasons for those decisions, she can reasonably be expected to make a choice: either to accept the decision and leave or to stay and fight but without recourse to state benefits. </span>
<span style="background-color: #FFDC00;">But she cannot reasonably be expected to make that choice before she knows of the decisions and the reasons for them. </span>
<span style="background-color: #FFDC00;">There is nothing in the material before us to suggest that it is consistent with the declared purpose of the regulation to expect her to do so." </span>
<span style="background-color: #01FF70;">I would respectfully endorse this observation. </span>
<span style="background-color: #F012BE;">The arguments for the Home Secretary ignore fundamental principles of our law. </span>
<span style="background-color: #F012BE;">Notice of a decision is required before it can have the character of a determination with legal effect because the individual concerned must be in a position to challenge the decision in the courts if he or she wishes to do so. </span>
<span style="background-color: #F012BE;">This is not a technical rule. </span>
<span style="background-color: #F012BE;">It is simply an application of the right of access to justice. </span>
<span style="background-color: #F012BE;">That is a fundamental and constitutional principle of our legal system: Raymond v Honey [1983] 1 AC 1, 10G per Lord Wilberforce; R v Secretary of State for the Home Department, Ex p Leech, [1994] QB 198, 209D; R v Secretary of State for the Home Department, Ex p Simms [2000] 2 AC 115. </span>
<span style="background-color: #F012BE;">What then is the relevance of this dimension for the present case? </span>
<span style="background-color: #F012BE;">The answer is provided by Lord Hoffmann's elegant explanation of the principle of legality in the Simms case. </span>
<span style="background-color: #7FDBFF;">He said, at p 131 E-G: </span>
<span style="background-color: #7FDBFF;">"Parliamentary sovereignty means that Parliament can, if it chooses, legislate contrary to fundamental principles of human rights. </span>
<span style="background-color: #7FDBFF;">The Human Rights Act 1998 will not detract from this power. </span>
<span style="background-color: #7FDBFF;">The constraints upon its exercise by Parliament are ultimately political, not legal. </span>
<span style="background-color: #7FDBFF;">But the principle of legality means that Parliament must squarely confront what it is doing and accept the political cost. </span>
<span style="background-color: #7FDBFF;">Fundamental rights cannot be overridden by general or ambiguous words. </span>
<span style="background-color: #7FDBFF;">This is because there is too great a risk that the full implications of their unqualified meaning may have passed unnoticed in the democratic process. </span>
<span style="background-color: #7FDBFF;">In the absence of express language or necessary implication to the contrary, the courts therefore presume that even the most general words were intended to be subjectto the basic rights of the individual. </span>
<span style="background-color: #7FDBFF;">In this way the courts of the United Kingdom, though acknowledging the sovereignty of Parliament, apply principles of constitutionality little different from those which exist in countries where the power of the legislature is expressly limited by a constitutional document". </span>
<span style="background-color: #F012BE;">This principle may find its primary application inrespectof cases under the European Convention on Human Rights. </span>
<span style="background-color: #F012BE;">But the Convention is not an exhaustive statement of fundamental rights under our system of law. </span>
<span style="background-color: #F012BE;">Lord Hoffmann's dictum applies to fundamental rights beyond the four corners of the Convention. </span>
<span style="background-color: #F012BE;">It is engaged in the present case. </span>
<span style="background-color: #F012BE;">This view is reinforced by the constitutional principle requiring the rule of law to be observed. </span>
<span style="background-color: #F012BE;">That principle too requires that a constitutional state must accord to individuals the right to know of a decision before their rights can be adversely affected. </span>
<span style="background-color: #F012BE;">The antithesis of such a state was described by Kafka: a state where the rights of individuals are overridden by hole in the corner decisions or knocks on doors in the early hours. </span>
<span style="background-color: #F012BE;">That is not our system. </span>
<span style="background-color: #F012BE;">I accept, of course, that there must be exceptions to this approach, notably in the criminal field, e.g. arrests and search warrants, where notification is not possible. </span>
<span style="background-color: #F012BE;">But it is difficult to visualise a rational argument which could even arguably justify putting the present case in the exceptional category. </span>
<span style="background-color: #F012BE;">If this analysis is right, it also engages the principle of construction explained by Lord Hoffmann in Simms. </span>
<span style="background-color: #F012BE;">In European law the approach is possibly a little more formalistic but the thrust is the same. </span>
<span style="background-color: #7FDBFF;">It has been held to be a "fundamental principle in the Community legal order ... that a measure adopted by the public authorities shall not be applicable to those concerned before they have the opportunity to make themselves acquainted with it": Racke v Hauptzollamt Mainz (Case 98/78) [1979] ECR 69, 84, para 15; Opel Austria GmbH v Council of European Union (Case T-115/94) [1997] ECR II 39, 82, para 124; Schwarze, European Administrative Law, 1992, pp 1416-1420; Council of Europe Publishing, The Administration and You, A Handbook, 1996, chapter 3, para 49. </span>
<span style="background-color: #F012BE;">Until the decision in Salem it had never been suggested that an uncommunicated administrative decision can bind an individual. </span>
<span style="background-color: #F012BE;">It is an astonishingly unjust proposition. </span>
<span style="background-color: #F012BE;">In our system of law surprise is regarded as the enemy of justice. </span>
<span style="background-color: #F012BE;">Fairness is the guiding principle of our public law. </span>
<span style="background-color: #7FDBFF;">In R v Commission for Racial Equality, Ex p Hillingdon London Borough Council [1982] AC 779, 787, Lord Diplock explained the position: </span>
<span style="background-color: #7FDBFF;">"Where an Act of Parliament confers upon an administrative body functions which involve its making decisions which affect to their detriment the rights of other persons or curtail their liberty to do as they please, there is a presumption that Parliament intended that the administrative body should act fairly towards those persons who will be affected by their decision." </span>
<span style="background-color: #F012BE;">Where decisions are published or notified to those concerned accountability of public authorities is achieved. </span>
<span style="background-color: #01FF70;">Elementary fairness therefore supports a principle that a decision takes effect only upon communication. </span>
<span style="background-color: #F012BE;">If this analysis is correct, it is plain that Parliament has not expressly or by necessary implication legislated to the contrary effect. </span>
<span style="background-color: #F012BE;">The decision in question involves a fundamental right. </span>
<span style="background-color: #F012BE;">It is in effect one involving a binding determination as to status. </span>
<span style="background-color: #F012BE;">It is of importance to the individual to be informed of it so that he or she can decide what to do. </span>
<span style="background-color: #F012BE;">Moreover, neither cost nor administrative convenience can in such a case conceivably justify a different approach. </span>
<span style="background-color: #F012BE;">This is underlined by the fact that the bizarre earlier practice has now been abandoned. </span>
<span style="background-color: #F012BE;">Given this context Parliament has not in specific and unmistakeable terms legislated to displace the applicable constitutional principles. </span>
<span style="background-color: #DDDDDD;">The contrary arguments can be dealt with quite briefly. </span>
<span style="background-color: #FFDC00;">Counsel for the Home Secretary submits that before a "determination" can be "notified" there must be a determination. </span>
<span style="background-color: #F012BE;">This is legalism and conceptualism run riot. </span>
<span style="background-color: #F012BE;">One can readily accept that in this case there must have been a decision as reflected in the file note. </span>
<span style="background-color: #F012BE;">That does not mean that the statutory requirement of a "determination" has been fulfilled. </span>
<span style="background-color: #01FF70;">On the contrary, the decision is provisional until notified. </span>
<span style="background-color: #FFDC00;">Counsel for the Home Secretary relied strongly on some niceties of statutory language. </span>
<span style="background-color: #FFDC00;">He pointed out that regulation 21ZA of the Regulations, as well as in section 6 of the Asylum and Immigration Appeals Act 1993, the draftsmen provided expressly for notification. </span>
<span style="background-color: #FFDC00;">In contrast regulation 70(3A)(b)(i) makes no reference to notification. </span>
<span style="background-color: #F012BE;">The fact, however, that other provisions made the requirement of notification explicit does not rule out the possibility that notification was all along implicit in the concept of "the determination". </span>
<span style="background-color: #F012BE;">For my part a stronger indication of Parliamentary intent is provided by the Statement of Changes in Immigration Rules (HC 395), which were laid before Parliament on 23 May 1994 under section 3(2) of the Immigration Act 1971. </span>
<span style="background-color: #F012BE;">The concept of a "refusal" of asylum to be found in rules 331, 333 and 348 plainly contemplates notification of an adverse decision. </span>
<span style="background-color: #F012BE;">These rules are part of the contextual scene of regulation 70(3A)(b)(i). </span>
<span style="background-color: #F012BE;">They support the argument that notification of a decision is necessary for it to become a determination. </span>
<span style="background-color: #F012BE;">But the major point is that the semantic arguments of counsel for the Home Secretary cannot displace the constitutional principles outlined above. </span>
<span style="background-color: #01FF70;">For all these reasons I would reject the submissions of counsel for the Home Secretary and hold that Salem was wrongly decided. </span>
<span style="background-color: #01FF70;">It follows that in my view the present appeal should be allowed. </span>
<span style="background-color: #FFDC00;">My noble and learned friend Lord Bingham of Cornhill has observed that the Home Secretary was under a public law duty to give notice within a reasonable time but that breach of this duty cannot nullify or invalidate his decision. </span>
<span style="background-color: #01FF70;">I would question this conclusion. </span>
<span style="background-color: #F012BE;">It is important to bear in mind that the breach involved a deliberate policy decision by the Home Office not to comply with the public law duty. </span>
<span style="background-color: #F012BE;">This amounts to an abuse of power and ought to preclude the Home Secretary from relying on his unlawful conduct until notification has taken place. </span>
<span style="background-color: #7FDBFF;">While generally an estoppel cannot operate against the Crown, it can be estopped when it is abusing its powers: HTV Ltd v Price Commission [1976] ICR 170, 185G-H, per Lord Denning MR; R v Inland Revenue Commissioners, Ex p Preston [1985] AC 835, 865D, per Lord Templeman; Laker Airways Ltd v Department of Trade [1977] QB 643, 707D-F, per Lord Denning MR and 709A-E per Roskill LJ. </span>
<span style="background-color: #01FF70;">For this further reason I would reject the submissions made on behalf of the Home Secretary. </span>
<span style="background-color: #01FF70;">I recognise, of course, that in some ways the appellant's case does not merit great sympathy. </span>
<span style="background-color: #F012BE;">But even in unprepossessing cases fundamental principles must be upheld. </span>
<span style="background-color: #F012BE;">The rule of law requires it. </span>
<span style="background-color: #01FF70;">In my view the appellant is entitled to recover income support until proper notification of the determination on 25 April 2000. </span>
<span style="background-color: #01FF70;">I would therefore allow the appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD HOFFMANN </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the advantage of reading in draft the speech of my noble and learned friend Lord Steyn. </span>
<span style="background-color: #01FF70;">For the reasons he has given, I too would allow this appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD MILLETT </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the advantage of reading in draft the powerful speech of my noble and learned friend, Lord Steyn. </span>
<span style="background-color: #01FF70;">Until then I was of the opinion that the appeal should be dismissed; but I have been persuaded to change my mind. </span>
<span style="background-color: #01FF70;">I agree that a determination must actually be made before it can properly be recorded; and that it is not necessarily merely provisional until it is notified to the person or persons adversely affected by it. </span>
<span style="background-color: #01FF70;">But it does not follow that it has legal effect before it has been notified; and it is fallacious to suppose that an uncommunicated decision must be effective for all purposes or for none. </span>
<span style="background-color: #FF4136;">I am satisfied that the appellant's asylum application was determined on 20 November 1999, that the determination was final and not provisional, and that it had immediate legal effect for some purposes. </span>
<span style="background-color: #FF4136;">Thus it returned the responsibility for deciding the appellant's immigrant status to the immigration officer, so that he could consider whether she should be granted exceptional leave to remain. </span>
<span style="background-color: #F012BE;">But she could not be removed from or required to leave the United Kingdom until she had been given notice of the decision on her claim: section 6 of the 1993 Act expressly so provided. </span>
<span style="background-color: #F012BE;">The question is whether the refusal of her application had immediate effect for the purpose of ending her entitlement to income support or took effect for this purpose only when she was notified of it. </span>
<span style="background-color: #DDDDDD;">I was initially influenced by two considerations. </span>
<span style="background-color: #F012BE;">One was the evidence that it was Parliament's intention to deprive asylum seekers of social security benefits even while the decision to refuse asylum is under challenge. </span>
<span style="background-color: #F012BE;">On further reflection I do not think that this can be determinative of the present question: it does not follow that Parliament intended to deprive an asylum seeker of benefit before he or she is even told of the decision. </span>
<span style="background-color: #F012BE;">The second consideration was textual. </span>
<span style="background-color: #7FDBFF;">Benefit ends when the claimant "ceases to be an asylum seeker"; and this depends on the date on which the claim to asylum "is recorded by the Secretary of State as having been determined". </span>
<span style="background-color: #F012BE;">There is a conspicuous absence of any reference to the need to notify the claimant of the decision. </span>
<span style="background-color: #F012BE;">The claimant ceases to be an asylum seeker, neither on the date when the decision is made nor on the date when it is notified to the claimant, but on the date on which it is recorded. </span>
<span style="background-color: #F012BE;">This initially persuaded me that even the deliberate failure to inform the appellant at the same time as the benefit office of the outcome of her application for asylum was merely an act of maladministration which did not invalidate the decision or delay the time at which her entitlement to benefit should cease. </span>
<span style="background-color: #F012BE;">But I am persuaded that the omission was of more fundamental effect. </span>
<span style="background-color: #F012BE;">The presumption that notice of a decision must be given to the person adversely affected by it before it can have legal effect is a strong one. </span>
<span style="background-color: #F012BE;">It cannot be lightly overturned. </span>
<span style="background-color: #01FF70;">I do not subscribe to the view that the failure to notify the appellant of the decision invalidated it, but I have come to the conclusion that it could not properly be recorded so as to deprive her of her right to income support until it was communicated to her; or at least until reasonable steps were taken to do so. </span>
<span style="background-color: #F012BE;">This does not require any violation to be done to paragraph (3A) of regulation 70 of the Regulations. </span>
<span style="background-color: #F012BE;">It means only that the word "determined" in that paragraph should be read as meaning not merely "actually determined" but as meaning "determined in such manner as to affect the claimant's legal rights". </span>
<span style="background-color: #F012BE;">The presumption against legal effect being given to uncommunicated decisions does the rest. </span>
<span style="background-color: #01FF70;">The determination must have been made and appropriate steps must have been taken to communicate it to the claimant before it can lawfully be recorded so as to have the effect contended for. </span>
<span style="background-color: #01FF70;">I would allow the appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD SCOTT OF FOSCOTE </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #FF4136;">The appellant, Nadezda Anufrijeva, arrived in this country from Lithuania on 31 August 1998 and made an application for asylum as a Geneva Convention refugee. </span>
<span style="background-color: #FF4136;">On 4 September 1998 she made a claim for income support. </span>
<span style="background-color: #7FDBFF;">Entitlement to income support is governed by Part VII of the Social Security Contributions and Benefits Act 1992 and the Regulations made thereunder (or under one of the Act's legislative predecessors). </span>
<span style="background-color: #7FDBFF;">The Regulations applicable to the appellant's claim were the Income Support (General) Regulations 1987 (SI 1987/1967). </span>
<span style="background-color: #7FDBFF;">A "person from abroad" (see regulation 21(3) of the 1987 Regulations) is not entitled to income support unless he or she qualifies for such support as an urgent case. </span>
<span style="background-color: #7FDBFF;">Persons from abroad falling within an urgent case category are entitled to 90% of the normal amount of income support. </span>
<span style="background-color: #7FDBFF;">Asylum seekers, who often, if not usually, arrive in this country with no means of support, are recognised as falling within an urgent case category. </span>
<span style="background-color: #FF4136;">The appellant accordingly qualified for income support as an asylum seeker and as from 4 September 1998 received income support at 90% of the normal rate. </span>
<span style="background-color: #FF4136;">The appellant continued to receive income support until 9 December 1999 when it ceased. </span>
<span style="background-color: #FF4136;">It ceased because the Benefits Agency had been informed by the Home Office that she had ceased to be an asylum seeker. </span>
<span style="background-color: #FF4136;">The Home Office was purporting to apply paragraph (3A)(b)(i) of regulation 70 of the 1987 Regulations. </span>
<br></br>
<span style="background-color: #7FDBFF;">Paragraph (3A)(b)(i) says that </span>
<br></br>
<span style="background-color: #7FDBFF;">"... a person </span>
<br></br>
<span style="background-color: #7FDBFF;">(b) ceases to be an asylum seeker ? </span>
<br></br>
<span style="background-color: #7FDBFF;">(i) in the case of a claim for asylum which, on or after 5 February 1996, is recorded by the Secretary of State as having been determined (other than on appeal) or abandoned, on the date on which it is so recorded"; </span>
<br></br>
<span style="background-color: #7FDBFF;">.... </span>
<br></br>
<span style="background-color: #FF4136;">The file entry which led the Home Office to inform the Benefits Agency that the appellant had ceased to be an asylum seeker was contained in a Home Office file note dated 20 November 1999 which said, inter alia, that </span>
<br></br>
<span style="background-color: #FF4136;">"for the reasons given in the letter aside, this applicant has failed to establish a well founded fear of persecution. </span>
<span style="background-color: #FF4136;">Refusal is appropriate. </span>
<span style="background-color: #FF4136;">Case hereby recorded as determined. </span>
<span style="background-color: #FF4136;">Certified under 5(4)(a)". </span>
<span style="background-color: #FF4136;">So 20 November 1999 is the date on which, the Home Office contend, it was recorded that the appellant's asylum claim had been determined. </span>
<span style="background-color: #FF4136;">The "letter aside" referred to in the note was a letter, also dated 20 November 1999, which set out the reasons for the refusal of the appellant's asylum claim. </span>
<span style="background-color: #FF4136;">The letter was addressed to the appellant but it was not sent to her until much later, nor was any other notification of the refusal of her asylum claim sent to her. </span>
<span style="background-color: #FF4136;">This was not an oversight on the part of the Home Office; it appears to have been departmental policy not to communicate to an asylum seeker that his or her claim for asylum had been refused until an immigration officer had had the opportunity to consider whether the asylum seeker's request for leave to enter the country should be granted on some other ground than that of refugee status. </span>
<span style="background-color: #FF4136;">Once the immigration officer had reached a decision on the request for leave to enter, the asylum seeker would then be informed of it and at the same time would be sent the letter stating that his or her claim to refugee status had been refused and the reasons for the refusal. </span>
<span style="background-color: #FF4136;">In the present case the appellant was not sent the letter refusing her claim for asylum and telling her the reasons for the refusal until 25 April 2000 notwithstanding that the letter had been written as long before as 20 November 1999 and in the intervening period had simply been retained in the Home Office file. </span>
<span style="background-color: #FF4136;">The appellant must, of course, have come to understand in a roundabout way that her asylum claim had been refused but she did not know the reasons for the refusal until she received on 25 April 2000 the "letter aside" dated 20 November 1999. </span>
<span style="background-color: #DDDDDD;">The relevant sequence of events between those two dates is set out in paragraphs 22 and 23 of the opinion of my noble and learned friend Lord Steyn and I need not repeat them. </span>
<span style="background-color: #FFDC00;">The departmental policy that led to the long delay in notifying the appellant that her asylum claim had been refused, and why, has been the subject of adverse comments by the Court of Appeal, cited by Lord Steyn in his opinion, and by Lord Steyn on his own account (see paragraph 24 of his opinion). </span>
<span style="background-color: #01FF70;">I would wish to associate myself fully with Lord Steyn's comments. </span>
<span style="background-color: #F012BE;">There seem to have been no practical reasons why the refusal of an asylum claim and the reasons for it could not have been promptly notified to the asylum seeker. </span>
<span style="background-color: #F012BE;">It is true that the asylum seeker's request for leave to enter the country had to be dealt with by an immigration officer and that the immigration officer's role in dealing with the request for leave to enter was a role separate from although complementary to the Secretary of State's role in deciding whether to allow or refuse the asylum claim. </span>
<span style="background-color: #F012BE;">But the immigration officer's role would not be in the least prejudiced or undermined by a prompt notification to the asylum seeker of the fate of the asylum claim. </span>
<span style="background-color: #F012BE;">The connection, if there is one, between the immigration officer's role and the institutional delay by the Home Office in notifying asylum seekers of the fate of their asylum claims does not constitute a practical reason justifying the delay. </span>
<span style="background-color: #F012BE;">That it was no such thing seems to me to be shown by the fact that the practice has apparently now been abandoned. </span>
<span style="background-color: #F012BE;">Be that as it may, the issue for your Lordships on this appeal is whether the un-notified decision of the Secretary of State to refuse the appellant's asylum claim, "recorded as determined" according to the 20 November 1999 note, effectively deprived her as from that date of her status as an asylum seeker for income support purposes, or whether she retained that status until she was notified on 25 April 2000, by her eventual receipt of the letter of 20 November 1999, of the refusal of her asylum claim. </span>
<span style="background-color: #F012BE;">The issue is one of construction of regulation 70(3A)(b)(i) of the 1987 Regulations. </span>
<span style="background-color: #7FDBFF;">Paragraph (3A) was added to regulation 70 by an amendment made in 1996. </span>
<span style="background-color: #F012BE;">Like any other provision of primary or secondary legislation, paragraph (3A)(b)(i) must be construed in the context of the statutory scheme of which it forms part. </span>
<span style="background-color: #7FDBFF;">The statutory scheme includes section 11(1) of the Asylum and Immigration Act 1996, cited in paragraph 13 of the opinion of my noble and learned friend Lord Bingham of Cornhill, which makes explicit Parliament's intention to give power to the Secretary of State to make regulations excluding asylum seekers from entitlement to income support. </span>
<span style="background-color: #7FDBFF;">And there is no doubt that paragraph (3A)(b)(i) was intended to exclude asylum seekers from income support once a particular stage in the progress of their asylum claims had been reached. </span>
<span style="background-color: #F012BE;">But what was that stage? </span>
<span style="background-color: #F012BE;">At what point are asylum claims to be regarded as "having been determined"? </span>
<span style="background-color: #7FDBFF;">The contextual background against which paragraph (3A)(b)(i) must be construed consists also of the Immigration Rules. </span>
<span style="background-color: #7FDBFF;">The Rules current in 1996, when paragraph (3A)(b)(i) was added to regulation 70, included rule 333, cited in paragraph 8 of Lord Bingham's opinion. </span>
<span style="background-color: #7FDBFF;">Rule 333 makes clear that the refusal of an asylum claim is to be notified to the asylum seeker by a "notice of refusal" which will inform him or her of the reasons for the refusal. </span>
<span style="background-color: #7FDBFF;">Rules 331 and 348 underline the point. </span>
<span style="background-color: #F012BE;">It is, indeed, inherent in the concept of a "refusal" that it should be communicated to the person to whom it is directed. </span>
<span style="background-color: #F012BE;">The communication of a refusal may be either by words or by conduct from which the requisite inference can be drawn, but without communication there will be no more than a non-acceptance, a quite different concept from that of a refusal. </span>
<span style="background-color: #7FDBFF;">The Immigration Rules require a refusal and that the refusal is to be communicated by a "notice of refusal". </span>
<span style="background-color: #FFDC00;">It has been rightly accepted before your Lordships that, for the purposes of regulation 70(3A)(b)(i), an asylum claim cannot be "recorded as determined" until it has actually been "determined". </span>
<span style="background-color: #FFDC00;">The submissions of counsel for the Secretary of State draw a distinction between the refusal of the asylum claim for the purposes of the Immigration Rules, which requires a notice of the refusal to be sent to the asylum seeker, and the determination of the claim for the purposes of regulation 70(3A)(b)(i), which does not. </span>
<span style="background-color: #FFDC00;">So the claim can be "determined" before it has been "refused". </span>
<span style="background-color: #F012BE;">This is an elegant linguistic conceptual distinction but it makes, to my mind, little practical sense and is redolent with unfairness to the asylum seeker. </span>
<span style="background-color: #FFDC00;">My noble and learned friend Lord Steyn has cogently explained why an uncommunicated decision terminating an asylum seeker's right to income support offends against well-established principles of legality and access to justice. </span>
<span style="background-color: #01FF70;">I cannot improve on his exposition and agree with it. </span>
<span style="background-color: #F012BE;">Parliament can, of course, override these principles. </span>
<span style="background-color: #F012BE;">But in section 11(1) of the 1996 Act Parliament has not done so expressly. </span>
<span style="background-color: #F012BE;">There is nothing in the empowering provision to suggest a Parliamentary intention that an asylum seeker's status as an asylum seeker entitled to income support can be terminated not only without the asylum seeker being told the reasons for the termination of the status but without the asylum seeker even being notified of the termination. </span>
<span style="background-color: #01FF70;">There are, therefore, two reasons why, in my opinion, this appeal must succeed and the Salem case be overruled. </span>
<span style="background-color: #01FF70;">First, I would construe the reference in regulation 70(3A)(b)(i) to an asylum claim being "determined" in a manner consistent with the Immigration Rules and hold that it cannot be "determined" until it has been refused and that that requires notification. </span>
<span style="background-color: #01FF70;">Second, and alternatively, I consider that section 11(1) of the 1996 Act did not empower the Secretary of State to make regulations which have the effect that an asylum seeker can be deprived of that status for income support purposes without notification. </span>
<span style="background-color: #01FF70;">For these reasons, supplemental to those of my noble and learned friend Lord Steyn with which I am in complete agreement, I would allow this appeal. </span></p></head>