<head><p align="center" style="margin:5em;"><b><br></br>Lord Nicholls of Birkenhead Lord Mustill Lord<br></br>Slynn of Hadley Lord Hutton Lord Scott of Foscote<br></br>OPINIONSOFTHELORDSOFAPPEALFORJUDGMENTINTHECAUSE<br></br></b></p><p align="center" style="margin:5em;"><b>REGINA<br></br>v.<br></br>SECRETARY OF STATE FOR THE HOME DEPARTMENT EX<br></br>PARTE SAADI (FC) AND OTHERS (FC)<br></br>(APPELLANTS)ON<br></br></b></p><p align="center" style="margin:5em;"><b>31 OCTOBER 2002<br></br></b></p><p align="center" style="margin:5em;"><b>[2002] UKHL 41</b></p><br></br>
<p align="justify" style="margin:5em;"><span style="background-color: #DDDDDD;">LORD NICHOLLS OF BIRKENHEAD </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the advantage of reading in draft the speech of my noble and learned friend Lord Slynn of Hadley. </span>
<span style="background-color: #01FF70;">For the reasons he gives, with which I agree, I too would dismiss this appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD MUSTILL </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the advantage of reading in draft the speech of my noble and learned friend Lord Slynn of Hadley. </span>
<span style="background-color: #01FF70;">I agree with it and for the reasons which he gives I too would dismiss this appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD SLYNN OF HADLEY </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #F012BE;">This appeal raises issues as to whether the four claimants were unlawfully detained after they came to this country seeking asylum. </span>
<span style="background-color: #FF4136;">They are all Kurdish Iraqis who left the Kurdish Autonomous Region in northern Iraq. </span>
<span style="background-color: #FF4136;">They claim for various reasons that they could not safely remain or return to Iraq because of the risks to them of persecution, respectively from the Patriotic Union of Kurdestan, from the Iraqi Government or from the Islamic Movement of Iraqi Kurdestan. </span>
<span style="background-color: #FF4136;">They were all detained at the Oakington Reception Centre. </span>
<span style="background-color: #F012BE;">There are differences between their cases. </span>
<span style="background-color: #FF4136;">Thus Dr Saadi flew into Heathrow and on three occasions between 30 December 2000 and 2 January 2001 was granted temporary admission on conditions as to reporting with which he complied before on 2 January 2001 he was sent to the Oakington Reception Centre. </span>
<span style="background-color: #FF4136;">The other three claimants arrived at Dover concealed in the back of a lorry-Mr Maged on 6 December 2000 when he claimed asylum on arrival at Dover but he was detained as an illegal entrant and transferred to Oakington. </span>
<span style="background-color: #FF4136;">Mr Osman arrived on 4 December 2000. </span>
<span style="background-color: #FF4136;">He asked for asylum at the Immigration and Nationality Directorate in Croydon but was declared to be an illegal immigrant and sent to Oakington. </span>
<span style="background-color: #FF4136;">Mr Mohammed also arrived at Dover concealed in a lorry on 4 December 2000 when he claimed asylum at a police station. </span>
<span style="background-color: #FF4136;">He was directed to the Croydon Directorate where on 5 December 2000 he was determined to be an illegal entrant and sent to Oakington. </span>
<span style="background-color: #FF4136;">Subsequent to going to Oakington Dr Saadi on 8 January 2001 was refused asylum but was released on temporary admission on 9 January pending an appeal. </span>
<span style="background-color: #FF4136;">His appeal was allowed by an adjudicator but that decision was reversed by the Immigration Appeal Tribunal and his case was sent for re-hearing. </span>
<span style="background-color: #FF4136;">Mr Maged was refused asylum on 16 December 2000 but released on temporary admission pending an appeal. </span>
<span style="background-color: #FF4136;">His appeal was successful and he was granted asylum. </span>
<span style="background-color: #FF4136;">Mr Osman was refused asylum on 11 December 2000 but was released on temporary admission pending an appeal which is not yet determined. </span>
<span style="background-color: #FF4136;">Mr Mohammed, having been refused asylum on 11 December 2000, was released on temporary admission on 13 December pending an appeal which was successful on 24 April 2001. </span>
<span style="background-color: #FF4136;">Like Mr Maged he now has refugee status. </span>
<span style="background-color: #FF4136;">Dr Saadi was thus actually detained at Oakington from 2 to 9 January (7 days); Mr Maged from 6 December to 16 December (10 days); Mr Osman from 4 December to 12 December (8 days) and Mr Mohammed from 5 December to 13 December (8 days). </span>
<span style="background-color: #FFDC00;">They all complained of the illegality of their detention at the Oakington Reception Centre. </span>
<span style="background-color: #FFDC00;">Collins J. held that the detention of all the appellants at Oakington was unlawful. </span>
<span style="background-color: #FFDC00;">The Court of Appeal unanimously reversed that decision: see [2002] 1 WLR 356. </span>
<span style="background-color: #7FDBFF;">The Immigration Act 1971 in Schedule 2 contains detailed administrative provisions as to the control of persons seeking to enter the United Kingdom. </span>
<span style="background-color: #7FDBFF;">In particular by paragraph 2 of the Schedule, immigration officers may examine persons who have arrived there to determine inter alia whether they have leave to enter or whether they should be given or refused leave to enter. </span>
<span style="background-color: #7FDBFF;">By paragraph 16 of the Schedule: </span>
<br></br>
<span style="background-color: #7FDBFF;">"(1)... </span>
<br></br>
<span style="background-color: #7FDBFF;">A person who may be required to submit to examination under paragraph 2 above may be detained under the authority of an immigration officer pending his examination and pending a decision to give or refuse him leave to enter." </span>
<span style="background-color: #7FDBFF;">By paragraph 18 of the Schedule, persons "may be detained under paragraph 16 above in such places as the Secretary of State may direct" and a person detained under paragraph 16 is deemed to be in legal custody" (paragraph 18 (4)). </span>
<span style="background-color: #7FDBFF;">A person so detained may be released on bail by a chief immigration officer or an adjudicator (paragraph 22 (1A)) but only when 7 days have elapsed since the person's arrival in the United Kingdom. </span>
<span style="background-color: #7FDBFF;">Temporary admission may be granted to persons liable to be detained without their being detained or on release from detention. </span>
<span style="background-color: #7FDBFF;">By section 11 of the 1971 Act temporary admission does not constitute entry. </span>
<span style="background-color: #7FDBFF;">By section 4 of the Immigration and Asylum Act 1999 the Secretary of State "may provide, or arrange for the provision of, facilities for the accommodation of persons", temporarily admitted under paragraph 21 of Schedule 2 to the 1971 Act or released on bail from detention under any provision of the Immigration Act. </span>
<span style="background-color: #F012BE;">The number of persons arriving in the United Kingdom and seeking asylum has grown considerably in recent years. </span>
<span style="background-color: #F012BE;">Thus your Lordships were told that from July to September 1999 the average number of applications was 7,000 a month, a 60% increase on the previous year. </span>
<span style="background-color: #F012BE;">The figure of arrivals from Iraq rose on average from c.90 per month in 1997 to c.150 per month in 1999 and 280 per month in the early part of 2000. </span>
<span style="background-color: #F012BE;">This obviously placed considerable strain on the immigration services since it is apparent from past experience that not all those who claim asylum can justify the claim however understandable their desire to leave the conditions in which they live in their own states. </span>
<span style="background-color: #F012BE;">The question on this appeal is whether one of the steps taken by the government to try to deal with the problem is lawful. </span>
<span style="background-color: #7FDBFF;">It is clear that the Home Office is entitled to adopt a policy in relation to the procedures to be followed, a policy which may be changed from time to time as long as it does not conflict with relevant principles of law. </span>
<span style="background-color: #7FDBFF;">In July 1998 the Government adopted the broad criteria to be followed-"whilst there is a presumption in favour of temporary admission or release, detention is normally justified in the following circumstances: </span>
<span style="background-color: #7FDBFF;">"*...where there is a reasonable belief that the individual will fail to keep the terms of temporary admission or temporary release; </span>
<br></br>
<span style="background-color: #7FDBFF;">*...initially, to clarify a person's identity and the basis of their claim; or </span>
<br></br>
<span style="background-color: #7FDBFF;">*...where removal is imminent" </span>
<span style="background-color: #7FDBFF;">(Government paper "Fairer, Faster And Firmer-A Modern Approach to Immigration And Asylum"). </span>
<span style="background-color: #7FDBFF;">In a news release no. 059/00 of March 1999 the Home Office announced that: </span>
<span style="background-color: #7FDBFF;">"Up to 13,000 asylum seekers per year will have their cases decided in about seven days at a new fast-track facility opening on Monday, 20 March in Cambridgeshire." </span>
<span style="background-color: #7FDBFF;">It added that: </span>
<span style="background-color: #7FDBFF;">"the new reception centre at Oakington Barracks implements a key commitment in the Government's plans to make the asylum process firmer, fairer and faster". </span>
<span style="background-color: #FFDC00;">The Immigration Minister, Mrs Barbara Roche said: </span>
<span style="background-color: #7FDBFF;">"Speeding up the asylum process is a major objective in our reform of the asylum system. </span>
<span style="background-color: #7FDBFF;">People who come to the United Kingdom may be fleeing terrible persecution and it is important that their claims are dealt with swiftly. </span>
<span style="background-color: #7FDBFF;">So that rather than being stuck in an administrative limbo they are able to get on with rebuilding their lives. </span>
<span style="background-color: #7FDBFF;">Oakington will enable us to deal quickly with the straightforward asylum claims. </span>
<span style="background-color: #7FDBFF;">It is in everyone's interest that both genuine and unfounded asylum seekers are quickly identified. </span>
<span style="background-color: #7FDBFF;">Genuine asylum seekers can be given the support they need to integrate into society. </span>
<span style="background-color: #7FDBFF;">And those with unfounded claims can be sent home quickly thereby sending a strong signal to others thinking of trying to exploit our asylum system. </span>
<span style="background-color: #7FDBFF;">Applicants will be kept for a period of about seven days while their claim is considered. </span>
<span style="background-color: #7FDBFF;">There will be access to legal advice on site to ensure that the process is both full and fast. </span>
<span style="background-color: #7FDBFF;">If claims are certified as manifestly unfounded, the Immigration Appellate Authority will be aiming to deal with any appeal in about three weeks." </span>
<span style="background-color: #7FDBFF;">In the House of Commons the Minister gave a written answer on 16 March 2000 (Hansard Col. 263W) stating that if claims could not be decided in a period of about 7 days "the applicant will be granted temporary admission or, if necessary in line with existing criteria, moved to another place of detention". </span>
<span style="background-color: #7FDBFF;">Thus instead of the applicant being given 5 days to submit further representations after an initial substantive interview, the new arrangements provided that interview would "other than in very exceptional circumstances ... take place on the third day at the centre". </span>
<span style="background-color: #7FDBFF;">Since the 5 day period was now to run from the date that the application for asylum was made that would normally leave 2 days for the submission of representations. </span>
<span style="background-color: #7FDBFF;">Legal advice on site at Oakington was to be provided by the Refugee Legal Centre and Immigration Advisory Service in connection with these procedures. </span>
<span style="background-color: #7FDBFF;">The Home Office made it clear in its Operational Enforcement Manual of 21.12.2000, para. 38.1 that: </span>
<span style="background-color: #7FDBFF;">"In all cases detention must be for the shortest possible time ... </span>
<span style="background-color: #7FDBFF;">It is not an effective use of detention space to detain people for lengthy periods if it would be practical to effect detention later in the process once any rights of appeal have been exhausted". </span>
<span style="background-color: #7FDBFF;">It repeated at para. 38.3 of the same document: </span>
<span style="background-color: #7FDBFF;">"There is a presumption in favour of temporary admission or temporary release" and that the following inter alios are unsuitable for Oakington: </span>
<span style="background-color: #7FDBFF;">"*...any case which does not appear to be one in which a quick decision can be reached; </span>
<span style="background-color: #7FDBFF;">"*...any case which has complicating factors, or issues, which are unlikely to be resolved within the constraints of the Oakington process model; </span>
<span style="background-color: #7FDBFF;">"*...unaccompanied minors; </span>
.... 
<span style="background-color: #7FDBFF;">"*... any person who gives reason to believe that they might not be suitable for the relaxed Oakington regime, including those who are considered likely to abscond". </span>
<span style="background-color: #7FDBFF;">Following a decision to detain the applicant must be given a form IS91R "Reasons For Detention" indicating one or more specific reasons which apply to the particular case (para 38.5.2). </span>
<span style="background-color: #7FDBFF;">These include the likelihood of absconding, inadequacy of information, imminent removal, the need to detain whilst alternative arrangements are made or release not being conducive to the public good. </span>
<span style="background-color: #7FDBFF;">By an addendum to the form a reason was added: </span>
<span style="background-color: #7FDBFF;">"I am satisfied that your application may be decided quickly using the fast track procedures established at Oakington Reception Centre". </span>
<span style="background-color: #FFDC00;">It is obvious that anyone detained under the Oakington regime should have been given that statement but it was not in fact part of the form at the time that the appellants were detained and Collins J. was very critical of the fact that they had been given a form with inappropriate reasons. </span>
<span style="background-color: #F012BE;">There is obviously a deprivation of liberty in detaining people at Oakington. </span>
<span style="background-color: #F012BE;">They cannot leave the centre, they must conform to the rules as to mealtimes and to being in their rooms at night. </span>
<span style="background-color: #F012BE;">On the other hand it is not suggested that the physical conditions-the state of the rooms, sanitation, meals-are in themselves open to criticism. </span>
<span style="background-color: #F012BE;">Moreover there are provisions not only for legal advice but for medical advice, for recreation and for religious practice. </span>
<span style="background-color: #FFDC00;">Mr Ian Martin, the Oakington Project Manager and an experienced Immigration and Nationality Directorate Inspector, described in detail the purposes of and the type of the regime which had been provided. </span>
<span style="background-color: #FFDC00;">He said: </span>
<span style="background-color: #FFDC00;">"All of the normal facilities provided within an immigration detention centre are available-restaurant, library, medical centre, social visits room, religious observance and recreation. </span>
<span style="background-color: #FFDC00;">The practical operation and facilities at Oakington are, however, very different from other detention centres. </span>
<span style="background-color: #FFDC00;">In particular, there is relaxed regime with minimal physical security, reflecting the fact that the purpose is to consider and decide applications. </span>
<span style="background-color: #FFDC00;">The site itself is very open with a large area for outdoor recreation and general association or personal space. </span>
<span style="background-color: #FFDC00;">Applicants and their dependants are free to move about the site although, in the interests of privacy and safety, there are areas where only females and families may go." </span>
<span style="background-color: #FFDC00;">He said: </span>
<span style="background-color: #FFDC00;">"The intention is that, during a period of approximately seven days, the examination of an asylum seeker's claimed entitlement to enter or remain in the United Kingdom as a refugee should be conducted and completed, and a decision whether to grant or refuse leave to enter or remain on that basis made and communicated to him. </span>
<span style="background-color: #FFDC00;">If it is not possible to decide the claim within these timescales, the asylum seeker will usually either be granted temporary admission or moved to another place of detention. </span>
<span style="background-color: #FFDC00;">"In this way, the Oakington procedure is intended to help facilitate the entry into the United Kingdom of those who are entitled to do so, and to prevent the entry (and facilitate the removal) of those who are not entitled to enter and would be making an unauthorised entry. </span>
<span style="background-color: #FFDC00;">"Information suggests that approximately 91% of Applicants accepted into the Oakington process have their claims decided during their time at Oakington. </span>
<span style="background-color: #FFDC00;">The other 9% were released without a decision, their claims proving not to be straightforward. </span>
<span style="background-color: #FFDC00;">Of those whose claims were decided and refused, some 82% were certified, half of these as manifestly unfounded. </span>
<span style="background-color: #FFDC00;">The average stay is one of between seven and ten days. </span>
<span style="background-color: #FFDC00;">Approximately 80% of all Applicants accepted into the Oakington process have been released on temporary admission, with 20% further detained in secure accommodation. </span>
<span style="background-color: #FFDC00;">"I accept that detention at Oakington is not based on a fear of absconding. </span>
<span style="background-color: #FFDC00;">Rather, it is in the interests of speedily and effectively dealing with asylum claims, to facilitate the entry into the United Kingdom of those who are entitled to do so and the removal from the United Kingdom of those who are not. </span>
<span style="background-color: #FFDC00;">This is very much concerned with "the prevention of unlawful immigration" and "the prevention of unauthorised entry. </span>
<span style="background-color: #FFDC00;">"I accept that an important consideration in relation to detention powers is that no detention should be longer than reasonably necessary. </span>
<span style="background-color: #FFDC00;">The Oakington process has been designed to keep the length of detention to an absolute minimum - a matter of a few days. </span>
<span style="background-color: #FFDC00;">"I dispute the suggestion that there are no safeguards in terms of review of detention. </span>
<span style="background-color: #FFDC00;">The statutory option of a bail application is available. </span>
<span style="background-color: #FFDC00;">Illegal entrants, who are detained "pending removal", may make an application for Adjudicator's bail immediately. </span>
<span style="background-color: #FFDC00;">Port Applicants, detained "pending examination", may also make an application for Adjudicator's bail, albeit that they may do so only after 7 days have elapsed from the date of arrival. </span>
<span style="background-color: #FFDC00;">As to the opportunity for the "ordinary courts" to "review detention" [Saadi p.15 para 30] I would refer in addition to both habeas corpus and judicial review. </span>
<span style="background-color: #FFDC00;">"I do not accept that detention at Oakington is based on a rigid, arbitrary or discriminatory, application of a nationality criterion. </span>
<span style="background-color: #FFDC00;">I have explained the role which nationality, and other factors relating to suitability and unsuitability, play in the decision-making process. </span>
<span style="background-color: #FFDC00;">As I have explained, I do not accept that no consideration is given to individual circumstances". </span>
<span style="background-color: #FFDC00;">In his second witness statement Mr Martin stressed that these present cases could be considered capable of being decided quickly and that they had been decided quickly and he again rejected that there had been an "over-rigid reliance" on the fact that the applicants were of Kurdish nationality from the Autonomous Region. </span>
<span style="background-color: #FFDC00;">In his third witness statement he repeated that the Home Office view was and is that the "Oakington ... regime is necessary and appropriate in order to achieve" the objective of speedy decision-making of a substantial number of claims. </span>
<span style="background-color: #FFDC00;">Other regimes suggested on behalf of the applicants would not be considered as effective and appropriate to achieve that objective. </span>
<span style="background-color: #FFDC00;">Thus it was suggested first that the applicants be granted temporary admission under section 4 of the Immigration and Asylum Act 1999 subjectto conditions that they be required to stay at Oakington but not detained there. </span>
<span style="background-color: #FFDC00;">The Home Office's view was that people would be less readily available at short notice if they could move about even without absconding and with up to 150 scheduled interviews a day, tight management and structuring are important. </span>
<span style="background-color: #FFDC00;">The speed and effectiveness of the procedure would be undermined by such an arrangement. </span>
<span style="background-color: #FFDC00;">The propriety of following this first alternative course is in any event doubted. </span>
<span style="background-color: #FFDC00;">Analogous objections are raised to the alternative course suggested of allowing people to come and go subjectto directions that the applicant stay overnight and attend for scheduled appointments. </span>
<span style="background-color: #F012BE;">There is now no doubt that the justification relied on for the claimants being sent to and held at Oakington was that these cases fell within the category of those capable of speedy decision. </span>
<span style="background-color: #F012BE;">It is not suggested, whatever they may have erroneously been told in form IS91R as being the reasons relied on that they were detained because there was a risk that they would abscond (which particularly in Dr Saadi's case would seem a flimsy reason). </span>
<span style="background-color: #F012BE;">Nor is it said that they had committed unlawful activities in other countries, even though they had arrived in this country concealed in the back of a lorry, a course understandable in view of the conditions and the risk of persecution under which some would-be asylum seekers lived. </span>
<span style="background-color: #FFDC00;">The claimants' first argument was on the basis of the provisions of the Immigration Acts. </span>
<span style="background-color: #F012BE;">The position under domestic law shorn of Human Rights Act considerations (which is now a largely hypothetical question) is in my view clear. </span>
<span style="background-color: #FFDC00;">As the judge and the Court of Appeal stressed, para. 16 of Schedule 2 gives power to detain "pending" examination and a decision; that in my view means for the period up to the time when the examination is concluded and a decision taken. </span>
<span style="background-color: #F012BE;">There is no qualification that the Secretary of State must show that it is necessary to detain for the purposes of examination in that the examination could not otherwise be carried out since applicants would run away. </span>
<span style="background-color: #F012BE;">Nor is it limited to those who cannot for whatever reason appropriately be granted temporary admission. </span>
<span style="background-color: #F012BE;">The period of detention in order to arrive at a decision must however be reasonable in all the circumstances. </span>
<span style="background-color: #F012BE;">It is Government policy that temporary admission should be granted where appropriate but it does not follow that if temporary admission can be granted there is no power to detain. </span>
<span style="background-color: #F012BE;">On the contrary the power to grant temporary admission under para. 21 of Schedule 2 only arises where there is a power to detain. </span>
<span style="background-color: #F012BE;">There is obviously force in the argument for the claimants that if there is no suggestion that they might run away then it cannot be strictly necessary to detain them as opposed to requiring them to comply with a fixed regime enabling detailed examination to take place. </span>
<span style="background-color: #F012BE;">This, however, ignores the reality-large numbers of applicants have to be considered intensively in a short period. </span>
<span style="background-color: #F012BE;">If people failed to arrive on time or at all the programme would be disrupted and delays caused not only to the individual case but to dealing with the whole problem. </span>
<span style="background-color: #F012BE;">If conditions in the centre were less acceptable than they are taken to be there might be more room for doubt but it seems to me that the need for speed justifies detention for a short period in acceptable physical conditions as being reasonably necessary. </span>
<span style="background-color: #F012BE;">This does not mean that the Secretary of State can detain without any limits so long as no examination has taken place or decision been arrived at. </span>
<span style="background-color: #F012BE;">The Secretary of State must not act in an arbitrary manner. </span>
<span style="background-color: #F012BE;">The immigration officer must act reasonably in fixing the time for examination and for arriving at a decision in the light of the objective of promoting speedy decision-making. </span>
<span style="background-color: #F012BE;">Statutory powers of this kind must be exercised reasonably by government, at any rate in the absence of specific provision laying down particular timescales for administrative acts to be performed. </span>
<span style="background-color: #F012BE;">An analogous application of this principle is to be found in judgments dealing with the detention of those who are or may be subjectto deportation. </span>
<span style="background-color: #7FDBFF;">Thus in R v Government of Durham Prison, Ex p Hardial Singh [1984] 1 WLR 704 at 706 Woolf J said in relation to the power of deportation: </span>
<span style="background-color: #7FDBFF;">"As the power is given in order to enable the machinery of deportation to be carried out, I regard the power of detention as being impliedly limited to a period which is reasonably necessary for that purpose. </span>
<span style="background-color: #7FDBFF;">The period which is reasonable will depend upon the circumstances of the particular case". </span>
<span style="background-color: #7FDBFF;">See Tan Te Lam v Superintendent of Tai A Chau Detention Centre [1997] AC 97. </span>
<span style="background-color: #01FF70;">A failure to observe this is clearly subjectto review by the courts but it cannot possibly be said in the present cases that the examination was not undertaken and the decision not arrived at within a reasonable period. </span>
<span style="background-color: #F012BE;">Looking only at the immigration legislation it seems to me that these applications could not possibly succeed. </span>
<span style="background-color: #FFDC00;">The claimants' principle argument, however, is that this detention is precluded by Article 5(1) of the European Convention for the Protection of Human Rights and Fundamental Freedoms as now incorporated in the Human Rights Act 1998 unless it falls within sub para. (f) of that Article and that it does not fall within sub para. (f). </span>
<span style="background-color: #FFDC00;">Detention for administrative convenience enabling a speedy decision is "simply not within the language of Article 5(1)(f)". </span>
<span style="background-color: #FFDC00;">Alternatively detention is not within Article 5(1)(f) where it is not required in order to prevent unauthorised entry where there was no risk of any of the claimants absconding and where after their claims for asylum had been refused each was released from detention. </span>
<span style="background-color: #FFDC00;">An alternative but related argument is that if the detention for the purposes relied on can fall within Article 5(1)(f) this detention was disproportionate to the reason relied on-i.e. to achieve a speedy determination of the case. </span>
<span style="background-color: #7FDBFF;">Article 5(1)(f) provides that: </span>
<span style="background-color: #7FDBFF;">"Everyone has the right to liberty and security of person. </span>
<span style="background-color: #7FDBFF;">No one shall be deprived of his liberty save in the following cases and inaccordancewith a procedure prescribed by law: </span>
<br></br>
<span style="background-color: #7FDBFF;">"(f) the lawful arrest or detention of a person to prevent his effecting an unauthorised entry into the country or of a person against whom action is being taken with a view to deportation or extradition;" </span>
<br></br>
<span style="background-color: #FFDC00;">The claimants stress, as the Strasbourg Court has often said, that: </span>
<span style="background-color: #FFDC00;">"any deprivation of liberty must not only have been effected in conformity with the substantive and procedural rules of national law but must equally be in keeping with the very purpose of Article 5, namely to protect the individual from arbitrariness". </span>
<span style="background-color: #FFDC00;">The claimants contend that the exhaustive list of exceptions in Article 5 must be narrowly construed. </span>
<span style="background-color: #FFDC00;">Moreover, even though para. (f) does not, unlike para. (c) use the word "necessary", detention must be "necessary" to achieve the objective and no other means of securing fulfilment of the objectives is reasonably practicable. </span>
<span style="background-color: #7FDBFF;">My Lords, it is clear that detention can only be justified if one of the two alternative situations specified in Article 5(1)(f) is established. </span>
<span style="background-color: #7FDBFF;">It must be either (a) "to prevent his effecting an unauthorised entry into the country" or it is detention (b) "of a person against whom action is being taken with a view to deportation or extradition". </span>
<span style="background-color: #FFDC00;">The claimants say that the present cases fall within (a) and here "necessity" must be established whatever the position under the second limb. </span>
<span style="background-color: #FFDC00;">If detention does not "prevent" the effecting of an unauthorised entry then it is not justified under the para. 5(1)(f) first limb. </span>
<span style="background-color: #FFDC00;">They rely on the statement of Collins J at first instance [2001] 1 WLR 356, 373, para 30: </span>
<span style="background-color: #FFDC00;">"Once it is accepted that an applicant has made a proper application for asylum and there is no risk that he will abscond or otherwise misbehave, it is impossible to see how it could reasonably be said that he needs to be detained to prevent his effecting an unauthorised entry". </span>
<span style="background-color: #FFDC00;">It is said that it is wrong to accept, as the Court of Appeal accepted, that detention is covered by Article 5(1)(f) "unless and until entry is authorised" as long as the detention processes are not unduly prolonged. </span>
<span style="background-color: #FFDC00;">In the first place detention to examine for the purposes of granting an authorisation is not within Article 5(1)(f); in the second place where examination is sufficient to prevent unauthorised entry, detention is not "causally linked" to the prevention of unauthorised entry. </span>
<span style="background-color: #FFDC00;">Temporary admission is a sufficient and an acceptable alternative to detention; it is a form of conditional authorised entry so that the person concerned can still be refused entry. </span>
<span style="background-color: #FFDC00;">Accordingly detention where each had made a proper application for asylum and where there was no risk that each would abscond is outside Article 5(1)(f) of the Convention; alternatively it is a wholly disproportionate response since any concerns as to whether alternative methods of control would be effective were based merely on assumption and speculation. </span>
<span style="background-color: #FFDC00;">As a parallel to its second ground as to "necessity" in relation to Article 5(1)(f) the claimants contend that the power to detain under para. 16 of Schedule 2 to the Immigration Act 1971 depends on "necessity" to attain the statutory purpose. </span>
<span style="background-color: #FFDC00;">Here detention was not necessary in order to examine them and in order to arrive at a decision since they had all been screened and there was no risk of their absconding. </span>
<span style="background-color: #FFDC00;">They could easily be examined after a grant of temporary admission and without being detained. </span>
<span style="background-color: #7FDBFF;">In international law the principle has long been established that sovereign states can regulate the entry of aliens into their territory. </span>
<span style="background-color: #7FDBFF;">Even as late as 1955 the eighth edition of Oppenheim's International Law, at pp 675-676, para 314 stated that: </span>
<span style="background-color: #7FDBFF;">"The reception of aliens is a matter of discretion, and every state is by reason of its territorial supremacy competent to exclude aliens from the whole, or any part, of its territory". </span>
<span style="background-color: #7FDBFF;">Earlier in Attorney General for the Dominion of Canada v Cain [1906] AC 542 at 546, the Privy Council in the speech of Lord Atkinson decided: </span>
<span style="background-color: #7FDBFF;">"One of the rights possessed by the supreme power in every State is the right to refuse to permit an alien to enter that State, to annex what conditions it pleases to the permission to enter it and to expel or deport from the State, at pleasure, even a friendly alien, especially if it considers his presence in the State opposed to its peace, order, and good government, or to its social or material interests: Vattel, Law of Nations, book 1, s.231; book 2, s.125" </span>
<span style="background-color: #7FDBFF;">This principle still applies subjectto any treaty obligation of a state or rule of the state's domestic law which may apply to the exercise of that control. </span>
<span style="background-color: #F012BE;">The starting point is thus in my view that the United Kingdom has the right to control the entry and continued presence of aliens in its territory. </span>
<span style="background-color: #F012BE;">Article 5(1)(f) seems to be based on that assumption. </span>
<span style="background-color: #F012BE;">The question is therefore whether the provisions of para. (1)(f) so control the exercise of that right that detention for the reasons and in the manner provided for in relation to Oakington are in contravention of the Article so as to make the detention unlawful. </span>
<span style="background-color: #01FF70;">In my view it is clear that detention to achieve a quick process of decision-making for asylum seekers is not of itself necessarily and in all cases unlawful. </span>
<span style="background-color: #FFDC00;">What is said however is that detention to achieve speedy process "for administrative convenience" is not within para. (1)(f). </span>
<span style="background-color: #FFDC00;">There must be some other factor which justifies the exercise of the power to detain such as the likelihood of the applicant absconding, committing a crime or acting in ways not conducive to the public good. </span>
<span style="background-color: #F012BE;">Whether this is so depends on whether each applicant is being detained "to prevent his effecting an unauthorised entry into the country" or whether he is a person "against whom action is being taken with a view to deportation or extradition". </span>
<span style="background-color: #F012BE;">The first of these, on which the Secretary of State principally but not exclusively relied before the judge and the Court of Appeal, depends on whether what the claimants did here was effecting or trying to effect an unauthorised entry. </span>
<span style="background-color: #FF4136;">It is said in Dr Saadi's case that he flew in lawfully. </span>
<span style="background-color: #FF4136;">He immediately applied for asylum. </span>
<span style="background-color: #FF4136;">He complied with reporting conditions. </span>
<span style="background-color: #F012BE;">What he was trying to effect was an authorised lawful entry. </span>
<span style="background-color: #FF4136;">The other three came in, it is accepted unlawfully, concealed in a lorry, but they immediately sought asylum from the appropriate authorities. </span>
<span style="background-color: #F012BE;">They too were seeking authorised i.e. lawful entry. </span>
<span style="background-color: #F012BE;">It was not established or alleged that there was any risk of any of them absconding. </span>
<span style="background-color: #F012BE;">Therefore none of them can be detained. </span>
<span style="background-color: #F012BE;">It is, however, to be remembered that the power to detain is to "prevent" unauthorised entry. </span>
<span style="background-color: #F012BE;">In my opinion until the State has "authorised" entry the entry is unauthorised. </span>
<span style="background-color: #01FF70;">The State has power to detain without violating Article 5 until the application has been considered and the entry "authorised". </span>
<span style="background-color: #F012BE;">If the claimants' argument is accepted an applicant for asylum where there is no suspicion that he will abscond or act contrary to the public good must always be granted a temporary admission or be admitted. </span>
<span style="background-color: #F012BE;">There would, if this is right, be no power to arrest or detain even for a short period whilst arrangements were made for consideration of the applicant's request for asylum. </span>
<span style="background-color: #F012BE;">The interveners accept that "a restriction" of liberty might be appropriate in such cases. </span>
<span style="background-color: #F012BE;">However how to produce a clear-cut distinction in these cases between arrest and detention on the one hand and restriction of liberty for the purposes of examining and deciding on the other, is not obvious. </span>
<span style="background-color: #F012BE;">It is not in my view necessary to show that the applicant was seeking to enter by evading immigration control. </span>
<span style="background-color: #F012BE;">That is not the same test as "preventing his effecting an unauthorised entry", a wider power which Article 5(1)(f) covers. </span>
<span style="background-color: #F012BE;">If an applicant came in and gave every indication that he would not abscond or misbehave but in the course of his interview made it clear that his claim for persecution was based on a pack of lies he would be seeking unauthorised entry. </span>
<span style="background-color: #F012BE;">Detention for the purpose of inquiring whether he must or should be granted asylum is permitted by para. (1)(f) and there is no provision in that paragraph requiring it to be shown that detention is necessary for that purpose. </span>
<span style="background-color: #F012BE;">This is to be contrasted with para. (1)(c) of Article 5 which excludes from the prohibition of detention a case "when it is reasonably considered necessary to prevent his committing an offence or fleeing". </span>
<span style="background-color: #01FF70;">On the face of it, it is not a precondition of the power to detain that detention should be "necessary" to prevent an unauthorised entry-necessary in the sense that no other procedure would be sufficient to allow an investigation of the basis of the claim for asylum. </span>
<span style="background-color: #7FDBFF;">In Chahal v United Kingdom (1996) 23 EHRR 413, a deportation case, the applicant sought an order that his detention was not adequately reviewable under domestic law as to its lawfulness for the purposes of Article 5(4) of the Convention. </span>
<span style="background-color: #7FDBFF;">The European Court of Human Rights held that there is no test of necessity under Article 5(1)(f). </span>
<span style="background-color: #7FDBFF;">In that case a Sikh separatist who had been detained in custody for deportation purposes, since the Secretary of State considered that he was a threat to national security, challenged his detention. </span>
<span style="background-color: #7FDBFF;">He had been in the United Kingdom for many years so that the relevant provision was the second part of Article 5(1)(f) i.e. he was a person "against whom action is being taken with a view to deportation". </span>
<span style="background-color: #7FDBFF;">In that case the court said as follows: </span>
<span style="background-color: #7FDBFF;">"112. </span>
<span style="background-color: #7FDBFF;">The Court recalls that it is not in dispute that Mr Chahal has been detained 'with a view to deportation' within the meaning of Article 5(1)(f). </span>
<span style="background-color: #7FDBFF;">Article 5(1)(f) does not demand that the detention of a person against whom action is being taken with a view to deportation be reasonably considered necessary, for example to prevent his committing an offence or fleeing; in this respect Article 5(1)(f) provides a different level of protection from Article 5(1)(c). </span>
<span style="background-color: #7FDBFF;">"Indeed, all that is required under this provision is that 'action is being taken with a view to deportation'. </span>
<span style="background-color: #7FDBFF;">It is therefore immaterial, for the purposes of Article 5(1)(f), whether the underlying decision to expel can be justified under national or Convention law. </span>
<span style="background-color: #7FDBFF;">"113. </span>
<span style="background-color: #7FDBFF;">The Court recalls, however, that any deprivation of liberty under Article 5(1)(f) will be justified only for as long as deportation proceedings are in progress. </span>
<span style="background-color: #7FDBFF;">If such proceedings are not prosecuted with due diligence, the detention will cease to be permissible under Article 5(1)(f). </span>
<span style="background-color: #7FDBFF;">"118. </span>
<span style="background-color: #7FDBFF;">It also falls to the Court to examine whether Mr Chahal's detention was 'lawful' for the purposes of Article 5(1)(f), with particular reference to the safeguards provided by the national system. </span>
<span style="background-color: #7FDBFF;">"Where the 'lawfulness' of detention is in issue, including the question whether 'a procedure prescribed by law' has been followed, the Convention refers essentially to the obligation to confirm to the substantive and procedural rules of national law, but it requires in addition that any deprivation of liberty should be in keeping with the purpose of Article 5, namely to protect the individual from arbitrariness. </span>
<span style="background-color: #7FDBFF;">"119. </span>
<span style="background-color: #7FDBFF;">There is no doubt that Mr Chahal's detention was lawful under national law and was effected 'inaccordancewith a procedure prescribed by law'. </span>
<span style="background-color: #7FDBFF;">However, in view of the extremely long period during which Mr Chahal has been detained, it is also necessary to consider whether there existed sufficient guarantees against arbitrariness". </span>
<span style="background-color: #01FF70;">I do not accept the claimants' argument that these words can only apply to the second part of para. 5(1)(f) and have no relevance to the prevention of a person effecting an unauthorised entry. </span>
<span style="background-color: #01FF70;">No valid reason has in my view been advanced to justify such a distinction. </span>
<span style="background-color: #01FF70;">The argument seems to me to be the other way. </span>
<span style="background-color: #F012BE;">If necessity for detention is to be shown, it is more appropriate to require it for someone who has been lawfully here and who is then arrested and detained with a view to deportation because of his conduct here than for someone who has recently landed and who has never been lawfully here under authorised entry. </span>
<span style="background-color: #7FDBFF;">It is to be noticed in Chahal that the Commission had said that: </span>
<span style="background-color: #7FDBFF;">"It has never been alleged that he would abscond or not answer his bail if released from detention. </span>
<span style="background-color: #7FDBFF;">His substantial family ties in the United Kingdom indicate that he would have no interest in doing so". </span>
<br></br>
<span style="background-color: #7FDBFF;">(23 EHRR 413, 447, para 117) </span>
<br></br>
<span style="background-color: #7FDBFF;">The Court did not dissent from that. </span>
<span style="background-color: #7FDBFF;">The decision in Chahal was followed in the recent case of Conka v Belgium (Application No. 51564/99) again a case where the applicants were arrested so that they could be deported, that is a second alternative case under Article 5(1)(f). </span>
<span style="background-color: #7FDBFF;">In R (Sezek) v Secretary of State for the Home Department [2002] 1 WLR 348, again a case concerning deportation on the grounds that it was conducive to the public good, the Secretary of State considered that there was a risk of the applicant absconding but he argued that Article 5(1)(f) was not satisfied unless it was established that detention was the only available way of preventing him absconding. </span>
<span style="background-color: #7FDBFF;">The Court of Appeal at para. 13 rejected that argument: </span>
<span style="background-color: #7FDBFF;">"There is nothing in the Convention nor any authority to support Mr Bishop's assertion that Mr Sezek's detention is incompatible with Article 5(1)(f) if other ways of preventing him absconding are available." </span>
<span style="background-color: #F012BE;">The fact that an applicant is subsequently granted leave to enter or consent to temporary admission does not undermine this conclusion. </span>
<span style="background-color: #FFDC00;">The claimants rely on Amuur v France (1996) 22 EHRR 533 though Sir Sidney Kentridge did not feel able to attach much weight to this judgment. </span>
<span style="background-color: #FFDC00;">He, like the Court of Appeal, did not find it particularly clear. </span>
<span style="background-color: #FFDC00;">The particular passage relied on is at pp 556-557 where it is said: </span>
<span style="background-color: #7FDBFF;">"42... </span>
<span style="background-color: #7FDBFF;">In order to determine whether someone has been 'deprived of his liberty' within the meaning of Article 5, the starting point must be his concrete situation, and account must be taken of a whole range of criteria such as the type, duration, effects and manner of implementation of the measure in question. </span>
<span style="background-color: #7FDBFF;">The difference between deprivation of and restriction upon liberty is merely one of degree or intensity, and not one of nature or substance. </span>
<span style="background-color: #7FDBFF;">43... </span>
<span style="background-color: #7FDBFF;">Holding aliens in the international zone does indeed involve a restriction upon liberty, but one which is not in every respect comparable to that which obtains in centres for the detention of aliens pending deportation. </span>
<span style="background-color: #7FDBFF;">Such confinement, accompanied by suitable safeguards for the persons concerned, is acceptable only in order to enable States to prevent unlawful immigration while complying with their international obligations, particularly under the 1951 Geneva Convention Relating to the Status of Refugees and the European Convention on Human Rights. </span>
<span style="background-color: #7FDBFF;">States' legitimate concern to foil the increasingly frequent attempts to get round immigration restrictions must not deprive asylum seekers of the protection afforded by these Conventions. </span>
<span style="background-color: #7FDBFF;">Such holding should not be prolonged excessively, otherwise there would be a risk of it turning a mere restriction on liberty-inevitable with a view to organising the practical details of the alien's repatriation or, where he has requested asylum, while his application for leave to enter the territory for that purpose is considered-into a deprivation of liberty. </span>
<span style="background-color: #7FDBFF;">In that connection account should be taken of the fact that the measure is applicable not to those who have committed criminal offences but to aliens who, often fearing for their lives, have fled from their own country. </span>
<span style="background-color: #7FDBFF;">Although by the force of circumstances the decision to order holding must necessarily be taken by the administrative or police authorities, its prolongation requires speedy review by the courts, the traditional guardians of personal liberties. </span>
<span style="background-color: #7FDBFF;">Above all, such confinement must not deprive the asylum seeker of the right to gain effective access to the procedure for determining refugee status". </span>
<span style="background-color: #F012BE;">The passage relied on does not indicate that detention must be "necessary" for the purposes of Article 5(1)(f) let alone does it seek to draw a distinction between the first and the second alternatives. </span>
<span style="background-color: #01FF70;">I agree with the comment in the Court of Appeal [2002] 1 WLR 356, 393, para 64 that the Court is expressly comparing "mere restriction on liberty" which does not infringe Article 5 with "deprivation of liberty" which does. </span>
<span style="background-color: #FFDC00;">The Court of Appeal added, at p 393, para 65: </span>
<span style="background-color: #FFDC00;">"It seems to us that the Court is considering as lawful detention pending the consideration of an application for leave to enter or the making of arrangements for deportation and not applying a test of whether the detention is necessary in order to carry out those processes." </span>
<span style="background-color: #01FF70;">I would accordingly hold that subjectto any question of proportionality the action taken here was "to prevent [a person] effecting an unauthorised entry into the country" within the meaning of Article 5 (1)(f). </span>
<span style="background-color: #01FF70;">In the circumstances it is not necessary to decide whether the detention falls also in the second limb. </span>
<span style="background-color: #F012BE;">Arguably detention to process rapidly an asylum claim can be seen as action with a view to removal if the claim is not allowed and is not limited to a case against a person inrespectof whom a removal decision has been taken. </span>
<span style="background-color: #01FF70;">I prefer to express no concluded view on this because of a) the terms of the first alternative option which seem more pertinent and b) my opinion that here the detention was justified under the first alternative. </span>
<span style="background-color: #F012BE;">There remains the issue whether, even if detention to achieve speedy asylum decision-making does fall within Article 5 (1)(f), "detention was unlawful on grounds of being a disproportionate response to the reasonable requirements of immigration control". </span>
<span style="background-color: #7FDBFF;">In Chahal the Court of Human Rights said that the lawfulness of detention had to be seen against the substantive and procedural rules of national law "but it requires in addition that any deprivation of liberty should be in keeping with the purpose of Article 5, namely to protect the individual from arbitrariness". </span>
<span style="background-color: #01FF70;">I do not see that either the methods of selection of these cases (are they suitable for speedy decision?) or the objective (speedy decision) or the way in which people are held for a short period (i.e. short in relation to the procedures to be gone through) and in reasonable physical conditions even if involving compulsory detention can be said to be arbitrary or disproportionate. </span>
<span style="background-color: #F012BE;">The evidence of Mr Martin gives strong support to the view that it was appropriate, in the light of the Secretary of State's experience, for the Secretary of State to adopt the Oakington policy and that other alternative methods would practically not be effective. </span>
<span style="background-color: #F012BE;">The need for highly structured and tightly managed arrangements, which would be disrupted by late or non-attendance of the applicant for interview, is apparent. </span>
<span style="background-color: #F012BE;">On the other side applicants not living at Oakington, but living where they chose, would inevitably suffer considerable inconvenience if they had to be available at short notice and continuously in order to answer questions. </span>
<span style="background-color: #F012BE;">It is regrettable that anyone should be deprived of his liberty other than pursuant to the order of a court but there are situations where such a course is justified. </span>
<span style="background-color: #F012BE;">In a situation like the present with huge numbers and difficult decisions involved, with the risk of long delays to applicants seeking to come, a balancing exercise has to be performed. </span>
<span style="background-color: #F012BE;">Getting a speedy decision is in the interests not only of the applicants but of those increasingly in the queue. </span>
<span style="background-color: #01FF70;">Accepting as I do that the arrangements made at Oakington provide reasonable conditions, both for individuals and families and that the period taken is not in any sense excessive, I consider that the balance is in favour of recognising that detention under the Oakington procedure is proportionate and reasonable. </span>
<span style="background-color: #F012BE;">Far from being arbitrary, it seems to me that the Secretary of State has done all that he could be expected to do to palliate the deprivation of liberty of the many applicants for asylum here. </span>
<span style="background-color: #01FF70;">It is agreed that the forms served on the claimants here were inappropriate. </span>
<span style="background-color: #01FF70;">It was, to say the least, unfortunate but without going as far as Collins J in his criticism of the Immigration Service, I agree with him that even on his approach the failure to give the right reason for detention and the giving of no or wrong reasons did not in the end affect the legality of the detention. </span>
<span style="background-color: #01FF70;">On the basis of what I have said it is not valid to draw a distinction between Dr Saadi and the other claimants because of the way in which they arrived here. </span>
<span style="background-color: #01FF70;">I would accordingly dismiss the appeal inrespectof all four claimants. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD HUTTON </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the advantage of reading in draft the speech of my noble and learned friend Lord Slynn of Hadley. </span>
<span style="background-color: #01FF70;">I agree with it and for the reasons which he gives I too would dismiss this appeal. </span>
<br></br>
<span style="background-color: #DDDDDD;">LORD SCOTT OF FOSCOTE </span>
<br></br>
<span style="background-color: #DDDDDD;">My Lords, </span>
<br></br>
<span style="background-color: #DDDDDD;">I have had the advantage of reading in advance the opinion of my noble and learned friend Lord Slynn of Hadley. </span>
<span style="background-color: #01FF70;">I agree with it and with his reasons for dismissing this appeal. </span></p></head>